TP8/Service References/PLWS/item2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="requestUserTokenRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="requestUserTokenResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="requestAnonTokenRequestType" />
      <xsd:complexType name="requestAnonTokenResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="purgeUserTokensRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="purgeUserTokensResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="pingEchoRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="pingString" type="xsd:string" />
          <xsd:element form="unqualified" name="latency" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="pingEchoResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="time" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getEventListRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getEventListResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="eventList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getGroupListRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getGroupListResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="groupList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="registerUserRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="emailAddress" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
          <xsd:element form="unqualified" name="givenName" type="xsd:string" />
          <xsd:element form="unqualified" name="familyName" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="registerUserResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="registered" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="changeUserPasswordRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="oldPassword" type="xsd:string" />
          <xsd:element form="unqualified" name="newPassword" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="changeUserPasswordResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="changed" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="resetUserPasswordRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="email" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="resetUserPasswordResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="sent" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="forgotUsernameRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="email" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="forgotUsernameResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="sent" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getUserGroupRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getUserGroupResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="group_id" type="xsd:integer" />
          <xsd:element form="unqualified" name="group_name" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getSessionCookieRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getSessionCookieResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="SESSION_ID" type="xsd:string" />
          <xsd:element form="unqualified" name="SESS_KEY" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="searchRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="eventShortname" type="xsd:string" />
          <xsd:element form="unqualified" name="searchTerm" type="xsd:string" />
          <xsd:element form="unqualified" name="filterStatusMissing" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusAlive" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusInjured" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusDeceased" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusFound" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderComplex" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderMale" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderFemale" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeChild" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeAdult" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterHospital" type="xsd:string" />
          <xsd:element form="unqualified" name="filterHasImage" type="xsd:boolean" />
          <xsd:element form="unqualified" name="pageStart" type="xsd:integer" />
          <xsd:element form="unqualified" name="perPage" type="xsd:integer" />
          <xsd:element form="unqualified" name="sortBy" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="searchResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="resultSet" type="xsd:string" />
          <xsd:element form="unqualified" name="recordsFound" type="xsd:integer" />
          <xsd:element form="unqualified" name="timeElapsed" type="xsd:double" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="searchCountRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="eventShortname" type="xsd:string" />
          <xsd:element form="unqualified" name="searchTerm" type="xsd:string" />
          <xsd:element form="unqualified" name="filterStatusMissing" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusAlive" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusInjured" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusDeceased" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusFound" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderComplex" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderMale" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderFemale" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeChild" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeAdult" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterHospital" type="xsd:string" />
          <xsd:element form="unqualified" name="filterHasImage" type="xsd:boolean" />
          <xsd:element form="unqualified" name="pageStart" type="xsd:integer" />
          <xsd:element form="unqualified" name="perPage" type="xsd:integer" />
          <xsd:element form="unqualified" name="sortBy" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="searchCountResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="recordsFound" type="xsd:integer" />
          <xsd:element form="unqualified" name="timeElapsed" type="xsd:double" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reportPersonRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="payload" type="xsd:string" />
          <xsd:element form="unqualified" name="payloadFormat" type="xsd:string" />
          <xsd:element form="unqualified" name="shortname" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reportPersonResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reReportPersonRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="payload" type="xsd:string" />
          <xsd:element form="unqualified" name="payloadFormat" type="xsd:string" />
          <xsd:element form="unqualified" name="shortname" type="xsd:string" />
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reReportPersonResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="expirePersonRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="explanation" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="expirePersonResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="queued" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reportAbuseRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="explanation" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reportAbuseResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="addCommentRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="comment" type="xsd:string" />
          <xsd:element form="unqualified" name="suggested_status" type="xsd:string" />
          <xsd:element form="unqualified" name="suggested_location" type="xsd:string" />
          <xsd:element form="unqualified" name="suggested_image" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="addCommentResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageCountsAndTokensRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="key" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageCountsAndTokensResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="imageCount" type="xsd:integer" />
          <xsd:element form="unqualified" name="firstToken" type="xsd:integer" />
          <xsd:element form="unqualified" name="lastToken" type="xsd:integer" />
          <xsd:element form="unqualified" name="nullTokenCount" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageListRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="tokenStart" type="xsd:integer" />
          <xsd:element form="unqualified" name="tokenEnd" type="xsd:integer" />
          <xsd:element form="unqualified" name="key" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageListResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="imageList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageListBlockRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="tokenStart" type="xsd:integer" />
          <xsd:element form="unqualified" name="stride" type="xsd:integer" />
          <xsd:element form="unqualified" name="key" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageListBlockResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="imageList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getNullTokenListRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="tokenStart" type="xsd:integer" />
          <xsd:element form="unqualified" name="tokenEnd" type="xsd:integer" />
          <xsd:element form="unqualified" name="key" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getNullTokenListResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="nullTokenList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="appCheckRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="query_string" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="appCheckResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="url" type="xsd:string" />
          <xsd:element form="unqualified" name="text" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="registerApplePushTokenRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="deviceID" type="xsd:string" />
          <xsd:element form="unqualified" name="pushToken" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="deviceName" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="registerApplePushTokenResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalListRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalListResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="hospitalList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalDataRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalDataResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="name" type="xsd:string" />
          <xsd:element form="unqualified" name="shortname" type="xsd:string" />
          <xsd:element form="unqualified" name="street1" type="xsd:string" />
          <xsd:element form="unqualified" name="street2" type="xsd:string" />
          <xsd:element form="unqualified" name="city" type="xsd:string" />
          <xsd:element form="unqualified" name="county" type="xsd:string" />
          <xsd:element form="unqualified" name="state" type="xsd:string" />
          <xsd:element form="unqualified" name="country" type="xsd:string" />
          <xsd:element form="unqualified" name="zip" type="xsd:string" />
          <xsd:element form="unqualified" name="phone" type="xsd:string" />
          <xsd:element form="unqualified" name="fax" type="xsd:string" />
          <xsd:element form="unqualified" name="email" type="xsd:string" />
          <xsd:element form="unqualified" name="www" type="xsd:string" />
          <xsd:element form="unqualified" name="npi" type="xsd:string" />
          <xsd:element form="unqualified" name="latitude" type="xsd:string" />
          <xsd:element form="unqualified" name="longitude" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalPolicyRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalPolicyResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="patientIdPrefix" type="xsd:string" />
          <xsd:element form="unqualified" name="patientIdSuffixVariable" type="xsd:boolean" />
          <xsd:element form="unqualified" name="patientIdSuffixFixedLength" type="xsd:integer" />
          <xsd:element form="unqualified" name="triageZoneList" type="xsd:string" />
          <xsd:element form="unqualified" name="photoRequired" type="xsd:boolean" />
          <xsd:element form="unqualified" name="honorNoPhotoRequest" type="xsd:boolean" />
          <xsd:element form="unqualified" name="photographerNameRequired" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="legalese" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseAnonRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseAnonResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="legaleseAnon" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseTimestampsRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseTimestampsResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="legaleseTimestamp" type="xsd:string" />
          <xsd:element form="unqualified" name="legaleseAnonTimestamp" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getUuidByMassCasualtyIdRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="mcid" type="xsd:string" />
          <xsd:element form="unqualified" name="shortname" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getUuidByMassCasualtyIdResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="changeMassCasualtyIdRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="newMcid" type="xsd:string" />
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="changeMassCasualtyIdResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="requestUserToken" type="tns:requestUserTokenRequestType" />
      <xsd:element name="requestUserTokenResponse" type="tns:requestUserTokenResponseType" />
      <xsd:element name="requestAnonToken" type="tns:requestAnonTokenRequestType" />
      <xsd:element name="requestAnonTokenResponse" type="tns:requestAnonTokenResponseType" />
      <xsd:element name="purgeUserTokens" type="tns:purgeUserTokensRequestType" />
      <xsd:element name="purgeUserTokensResponse" type="tns:purgeUserTokensResponseType" />
      <xsd:element name="pingEcho" type="tns:pingEchoRequestType" />
      <xsd:element name="pingEchoResponse" type="tns:pingEchoResponseType" />
      <xsd:element name="getEventList" type="tns:getEventListRequestType" />
      <xsd:element name="getEventListResponse" type="tns:getEventListResponseType" />
      <xsd:element name="getGroupList" type="tns:getGroupListRequestType" />
      <xsd:element name="getGroupListResponse" type="tns:getGroupListResponseType" />
      <xsd:element name="registerUser" type="tns:registerUserRequestType" />
      <xsd:element name="registerUserResponse" type="tns:registerUserResponseType" />
      <xsd:element name="changeUserPassword" type="tns:changeUserPasswordRequestType" />
      <xsd:element name="changeUserPasswordResponse" type="tns:changeUserPasswordResponseType" />
      <xsd:element name="resetUserPassword" type="tns:resetUserPasswordRequestType" />
      <xsd:element name="resetUserPasswordResponse" type="tns:resetUserPasswordResponseType" />
      <xsd:element name="forgotUsername" type="tns:forgotUsernameRequestType" />
      <xsd:element name="forgotUsernameResponse" type="tns:forgotUsernameResponseType" />
      <xsd:element name="getUserGroup" type="tns:getUserGroupRequestType" />
      <xsd:element name="getUserGroupResponse" type="tns:getUserGroupResponseType" />
      <xsd:element name="getSessionCookie" type="tns:getSessionCookieRequestType" />
      <xsd:element name="getSessionCookieResponse" type="tns:getSessionCookieResponseType" />
      <xsd:element name="search" type="tns:searchRequestType" />
      <xsd:element name="searchResponse" type="tns:searchResponseType" />
      <xsd:element name="searchCount" type="tns:searchCountRequestType" />
      <xsd:element name="searchCountResponse" type="tns:searchCountResponseType" />
      <xsd:element name="reportPerson" type="tns:reportPersonRequestType" />
      <xsd:element name="reportPersonResponse" type="tns:reportPersonResponseType" />
      <xsd:element name="reReportPerson" type="tns:reReportPersonRequestType" />
      <xsd:element name="reReportPersonResponse" type="tns:reReportPersonResponseType" />
      <xsd:element name="expirePerson" type="tns:expirePersonRequestType" />
      <xsd:element name="expirePersonResponse" type="tns:expirePersonResponseType" />
      <xsd:element name="reportAbuse" type="tns:reportAbuseRequestType" />
      <xsd:element name="reportAbuseResponse" type="tns:reportAbuseResponseType" />
      <xsd:element name="addComment" type="tns:addCommentRequestType" />
      <xsd:element name="addCommentResponse" type="tns:addCommentResponseType" />
      <xsd:element name="getImageCountsAndTokens" type="tns:getImageCountsAndTokensRequestType" />
      <xsd:element name="getImageCountsAndTokensResponse" type="tns:getImageCountsAndTokensResponseType" />
      <xsd:element name="getImageList" type="tns:getImageListRequestType" />
      <xsd:element name="getImageListResponse" type="tns:getImageListResponseType" />
      <xsd:element name="getImageListBlock" type="tns:getImageListBlockRequestType" />
      <xsd:element name="getImageListBlockResponse" type="tns:getImageListBlockResponseType" />
      <xsd:element name="getNullTokenList" type="tns:getNullTokenListRequestType" />
      <xsd:element name="getNullTokenListResponse" type="tns:getNullTokenListResponseType" />
      <xsd:element name="appCheck" type="tns:appCheckRequestType" />
      <xsd:element name="appCheckResponse" type="tns:appCheckResponseType" />
      <xsd:element name="registerApplePushToken" type="tns:registerApplePushTokenRequestType" />
      <xsd:element name="registerApplePushTokenResponse" type="tns:registerApplePushTokenResponseType" />
      <xsd:element name="getHospitalList" type="tns:getHospitalListRequestType" />
      <xsd:element name="getHospitalListResponse" type="tns:getHospitalListResponseType" />
      <xsd:element name="getHospitalData" type="tns:getHospitalDataRequestType" />
      <xsd:element name="getHospitalDataResponse" type="tns:getHospitalDataResponseType" />
      <xsd:element name="getHospitalPolicy" type="tns:getHospitalPolicyRequestType" />
      <xsd:element name="getHospitalPolicyResponse" type="tns:getHospitalPolicyResponseType" />
      <xsd:element name="getHospitalLegalese" type="tns:getHospitalLegaleseRequestType" />
      <xsd:element name="getHospitalLegaleseResponse" type="tns:getHospitalLegaleseResponseType" />
      <xsd:element name="getHospitalLegaleseAnon" type="tns:getHospitalLegaleseAnonRequestType" />
      <xsd:element name="getHospitalLegaleseAnonResponse" type="tns:getHospitalLegaleseAnonResponseType" />
      <xsd:element name="getHospitalLegaleseTimestamps" type="tns:getHospitalLegaleseTimestampsRequestType" />
      <xsd:element name="getHospitalLegaleseTimestampsResponse" type="tns:getHospitalLegaleseTimestampsResponseType" />
      <xsd:element name="getUuidByMassCasualtyId" type="tns:getUuidByMassCasualtyIdRequestType" />
      <xsd:element name="getUuidByMassCasualtyIdResponse" type="tns:getUuidByMassCasualtyIdResponseType" />
      <xsd:element name="changeMassCasualtyId" type="tns:changeMassCasualtyIdRequestType" />
      <xsd:element name="changeMassCasualtyIdResponse" type="tns:changeMassCasualtyIdResponseType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestUserTokenRequest">
    <wsdl:part name="parameters" element="tns:requestUserToken" />
  </wsdl:message>
  <wsdl:message name="requestUserTokenResponse">
    <wsdl:part name="parameters" element="tns:requestUserTokenResponse" />
  </wsdl:message>
  <wsdl:message name="requestAnonTokenRequest">
    <wsdl:part name="parameters" element="tns:requestAnonToken" />
  </wsdl:message>
  <wsdl:message name="requestAnonTokenResponse">
    <wsdl:part name="parameters" element="tns:requestAnonTokenResponse" />
  </wsdl:message>
  <wsdl:message name="purgeUserTokensRequest">
    <wsdl:part name="parameters" element="tns:purgeUserTokens" />
  </wsdl:message>
  <wsdl:message name="purgeUserTokensResponse">
    <wsdl:part name="parameters" element="tns:purgeUserTokensResponse" />
  </wsdl:message>
  <wsdl:message name="pingEchoRequest">
    <wsdl:part name="parameters" element="tns:pingEcho" />
  </wsdl:message>
  <wsdl:message name="pingEchoResponse">
    <wsdl:part name="parameters" element="tns:pingEchoResponse" />
  </wsdl:message>
  <wsdl:message name="getEventListRequest">
    <wsdl:part name="parameters" element="tns:getEventList" />
  </wsdl:message>
  <wsdl:message name="getEventListResponse">
    <wsdl:part name="parameters" element="tns:getEventListResponse" />
  </wsdl:message>
  <wsdl:message name="getGroupListRequest">
    <wsdl:part name="parameters" element="tns:getGroupList" />
  </wsdl:message>
  <wsdl:message name="getGroupListResponse">
    <wsdl:part name="parameters" element="tns:getGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="registerUserRequest">
    <wsdl:part name="parameters" element="tns:registerUser" />
  </wsdl:message>
  <wsdl:message name="registerUserResponse">
    <wsdl:part name="parameters" element="tns:registerUserResponse" />
  </wsdl:message>
  <wsdl:message name="changeUserPasswordRequest">
    <wsdl:part name="parameters" element="tns:changeUserPassword" />
  </wsdl:message>
  <wsdl:message name="changeUserPasswordResponse">
    <wsdl:part name="parameters" element="tns:changeUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="resetUserPasswordRequest">
    <wsdl:part name="parameters" element="tns:resetUserPassword" />
  </wsdl:message>
  <wsdl:message name="resetUserPasswordResponse">
    <wsdl:part name="parameters" element="tns:resetUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="forgotUsernameRequest">
    <wsdl:part name="parameters" element="tns:forgotUsername" />
  </wsdl:message>
  <wsdl:message name="forgotUsernameResponse">
    <wsdl:part name="parameters" element="tns:forgotUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="getUserGroupRequest">
    <wsdl:part name="parameters" element="tns:getUserGroup" />
  </wsdl:message>
  <wsdl:message name="getUserGroupResponse">
    <wsdl:part name="parameters" element="tns:getUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="getSessionCookieRequest">
    <wsdl:part name="parameters" element="tns:getSessionCookie" />
  </wsdl:message>
  <wsdl:message name="getSessionCookieResponse">
    <wsdl:part name="parameters" element="tns:getSessionCookieResponse" />
  </wsdl:message>
  <wsdl:message name="searchRequest">
    <wsdl:part name="parameters" element="tns:search" />
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part name="parameters" element="tns:searchResponse" />
  </wsdl:message>
  <wsdl:message name="searchCountRequest">
    <wsdl:part name="parameters" element="tns:searchCount" />
  </wsdl:message>
  <wsdl:message name="searchCountResponse">
    <wsdl:part name="parameters" element="tns:searchCountResponse" />
  </wsdl:message>
  <wsdl:message name="reportPersonRequest">
    <wsdl:part name="parameters" element="tns:reportPerson" />
  </wsdl:message>
  <wsdl:message name="reportPersonResponse">
    <wsdl:part name="parameters" element="tns:reportPersonResponse" />
  </wsdl:message>
  <wsdl:message name="reReportPersonRequest">
    <wsdl:part name="parameters" element="tns:reReportPerson" />
  </wsdl:message>
  <wsdl:message name="reReportPersonResponse">
    <wsdl:part name="parameters" element="tns:reReportPersonResponse" />
  </wsdl:message>
  <wsdl:message name="expirePersonRequest">
    <wsdl:part name="parameters" element="tns:expirePerson" />
  </wsdl:message>
  <wsdl:message name="expirePersonResponse">
    <wsdl:part name="parameters" element="tns:expirePersonResponse" />
  </wsdl:message>
  <wsdl:message name="reportAbuseRequest">
    <wsdl:part name="parameters" element="tns:reportAbuse" />
  </wsdl:message>
  <wsdl:message name="reportAbuseResponse">
    <wsdl:part name="parameters" element="tns:reportAbuseResponse" />
  </wsdl:message>
  <wsdl:message name="addCommentRequest">
    <wsdl:part name="parameters" element="tns:addComment" />
  </wsdl:message>
  <wsdl:message name="addCommentResponse">
    <wsdl:part name="parameters" element="tns:addCommentResponse" />
  </wsdl:message>
  <wsdl:message name="getImageCountsAndTokensRequest">
    <wsdl:part name="parameters" element="tns:getImageCountsAndTokens" />
  </wsdl:message>
  <wsdl:message name="getImageCountsAndTokensResponse">
    <wsdl:part name="parameters" element="tns:getImageCountsAndTokensResponse" />
  </wsdl:message>
  <wsdl:message name="getImageListRequest">
    <wsdl:part name="parameters" element="tns:getImageList" />
  </wsdl:message>
  <wsdl:message name="getImageListResponse">
    <wsdl:part name="parameters" element="tns:getImageListResponse" />
  </wsdl:message>
  <wsdl:message name="getImageListBlockRequest">
    <wsdl:part name="parameters" element="tns:getImageListBlock" />
  </wsdl:message>
  <wsdl:message name="getImageListBlockResponse">
    <wsdl:part name="parameters" element="tns:getImageListBlockResponse" />
  </wsdl:message>
  <wsdl:message name="getNullTokenListRequest">
    <wsdl:part name="parameters" element="tns:getNullTokenList" />
  </wsdl:message>
  <wsdl:message name="getNullTokenListResponse">
    <wsdl:part name="parameters" element="tns:getNullTokenListResponse" />
  </wsdl:message>
  <wsdl:message name="appCheckRequest">
    <wsdl:part name="parameters" element="tns:appCheck" />
  </wsdl:message>
  <wsdl:message name="appCheckResponse">
    <wsdl:part name="parameters" element="tns:appCheckResponse" />
  </wsdl:message>
  <wsdl:message name="registerApplePushTokenRequest">
    <wsdl:part name="parameters" element="tns:registerApplePushToken" />
  </wsdl:message>
  <wsdl:message name="registerApplePushTokenResponse">
    <wsdl:part name="parameters" element="tns:registerApplePushTokenResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalListRequest">
    <wsdl:part name="parameters" element="tns:getHospitalList" />
  </wsdl:message>
  <wsdl:message name="getHospitalListResponse">
    <wsdl:part name="parameters" element="tns:getHospitalListResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalDataRequest">
    <wsdl:part name="parameters" element="tns:getHospitalData" />
  </wsdl:message>
  <wsdl:message name="getHospitalDataResponse">
    <wsdl:part name="parameters" element="tns:getHospitalDataResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalPolicyRequest">
    <wsdl:part name="parameters" element="tns:getHospitalPolicy" />
  </wsdl:message>
  <wsdl:message name="getHospitalPolicyResponse">
    <wsdl:part name="parameters" element="tns:getHospitalPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseRequest">
    <wsdl:part name="parameters" element="tns:getHospitalLegalese" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseResponse">
    <wsdl:part name="parameters" element="tns:getHospitalLegaleseResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseAnonRequest">
    <wsdl:part name="parameters" element="tns:getHospitalLegaleseAnon" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseAnonResponse">
    <wsdl:part name="parameters" element="tns:getHospitalLegaleseAnonResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseTimestampsRequest">
    <wsdl:part name="parameters" element="tns:getHospitalLegaleseTimestamps" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseTimestampsResponse">
    <wsdl:part name="parameters" element="tns:getHospitalLegaleseTimestampsResponse" />
  </wsdl:message>
  <wsdl:message name="getUuidByMassCasualtyIdRequest">
    <wsdl:part name="parameters" element="tns:getUuidByMassCasualtyId" />
  </wsdl:message>
  <wsdl:message name="getUuidByMassCasualtyIdResponse">
    <wsdl:part name="parameters" element="tns:getUuidByMassCasualtyIdResponse" />
  </wsdl:message>
  <wsdl:message name="changeMassCasualtyIdRequest">
    <wsdl:part name="parameters" element="tns:changeMassCasualtyId" />
  </wsdl:message>
  <wsdl:message name="changeMassCasualtyIdResponse">
    <wsdl:part name="parameters" element="tns:changeMassCasualtyIdResponse" />
  </wsdl:message>
  <wsdl:portType name="plusWebServicesPortType">
    <wsdl:operation name="requestUserToken">
      <wsdl:input message="tns:requestUserTokenRequest" />
      <wsdl:output message="tns:requestUserTokenResponse" />
    </wsdl:operation>
    <wsdl:operation name="requestAnonToken">
      <wsdl:input message="tns:requestAnonTokenRequest" />
      <wsdl:output message="tns:requestAnonTokenResponse" />
    </wsdl:operation>
    <wsdl:operation name="purgeUserTokens">
      <wsdl:input message="tns:purgeUserTokensRequest" />
      <wsdl:output message="tns:purgeUserTokensResponse" />
    </wsdl:operation>
    <wsdl:operation name="pingEcho">
      <wsdl:input message="tns:pingEchoRequest" />
      <wsdl:output message="tns:pingEchoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEventList">
      <wsdl:input message="tns:getEventListRequest" />
      <wsdl:output message="tns:getEventListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGroupList">
      <wsdl:input message="tns:getGroupListRequest" />
      <wsdl:output message="tns:getGroupListResponse" />
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <wsdl:input message="tns:registerUserRequest" />
      <wsdl:output message="tns:registerUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="changeUserPassword">
      <wsdl:input message="tns:changeUserPasswordRequest" />
      <wsdl:output message="tns:changeUserPasswordResponse" />
    </wsdl:operation>
    <wsdl:operation name="resetUserPassword">
      <wsdl:input message="tns:resetUserPasswordRequest" />
      <wsdl:output message="tns:resetUserPasswordResponse" />
    </wsdl:operation>
    <wsdl:operation name="forgotUsername">
      <wsdl:input message="tns:forgotUsernameRequest" />
      <wsdl:output message="tns:forgotUsernameResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUserGroup">
      <wsdl:input message="tns:getUserGroupRequest" />
      <wsdl:output message="tns:getUserGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSessionCookie">
      <wsdl:input message="tns:getSessionCookieRequest" />
      <wsdl:output message="tns:getSessionCookieResponse" />
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input message="tns:searchRequest" />
      <wsdl:output message="tns:searchResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchCount">
      <wsdl:input message="tns:searchCountRequest" />
      <wsdl:output message="tns:searchCountResponse" />
    </wsdl:operation>
    <wsdl:operation name="reportPerson">
      <wsdl:input message="tns:reportPersonRequest" />
      <wsdl:output message="tns:reportPersonResponse" />
    </wsdl:operation>
    <wsdl:operation name="reReportPerson">
      <wsdl:input message="tns:reReportPersonRequest" />
      <wsdl:output message="tns:reReportPersonResponse" />
    </wsdl:operation>
    <wsdl:operation name="expirePerson">
      <wsdl:input message="tns:expirePersonRequest" />
      <wsdl:output message="tns:expirePersonResponse" />
    </wsdl:operation>
    <wsdl:operation name="reportAbuse">
      <wsdl:input message="tns:reportAbuseRequest" />
      <wsdl:output message="tns:reportAbuseResponse" />
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <wsdl:input message="tns:addCommentRequest" />
      <wsdl:output message="tns:addCommentResponse" />
    </wsdl:operation>
    <wsdl:operation name="getImageCountsAndTokens">
      <wsdl:input message="tns:getImageCountsAndTokensRequest" />
      <wsdl:output message="tns:getImageCountsAndTokensResponse" />
    </wsdl:operation>
    <wsdl:operation name="getImageList">
      <wsdl:input message="tns:getImageListRequest" />
      <wsdl:output message="tns:getImageListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getImageListBlock">
      <wsdl:input message="tns:getImageListBlockRequest" />
      <wsdl:output message="tns:getImageListBlockResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNullTokenList">
      <wsdl:input message="tns:getNullTokenListRequest" />
      <wsdl:output message="tns:getNullTokenListResponse" />
    </wsdl:operation>
    <wsdl:operation name="appCheck">
      <wsdl:input message="tns:appCheckRequest" />
      <wsdl:output message="tns:appCheckResponse" />
    </wsdl:operation>
    <wsdl:operation name="registerApplePushToken">
      <wsdl:input message="tns:registerApplePushTokenRequest" />
      <wsdl:output message="tns:registerApplePushTokenResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalList">
      <wsdl:input message="tns:getHospitalListRequest" />
      <wsdl:output message="tns:getHospitalListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalData">
      <wsdl:input message="tns:getHospitalDataRequest" />
      <wsdl:output message="tns:getHospitalDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalPolicy">
      <wsdl:input message="tns:getHospitalPolicyRequest" />
      <wsdl:output message="tns:getHospitalPolicyResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegalese">
      <wsdl:input message="tns:getHospitalLegaleseRequest" />
      <wsdl:output message="tns:getHospitalLegaleseResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegaleseAnon">
      <wsdl:input message="tns:getHospitalLegaleseAnonRequest" />
      <wsdl:output message="tns:getHospitalLegaleseAnonResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegaleseTimestamps">
      <wsdl:input message="tns:getHospitalLegaleseTimestampsRequest" />
      <wsdl:output message="tns:getHospitalLegaleseTimestampsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUuidByMassCasualtyId">
      <wsdl:input message="tns:getUuidByMassCasualtyIdRequest" />
      <wsdl:output message="tns:getUuidByMassCasualtyIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="changeMassCasualtyId">
      <wsdl:input message="tns:changeMassCasualtyIdRequest" />
      <wsdl:output message="tns:changeMassCasualtyIdResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="plusWebServicesBinding" type="tns:plusWebServicesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="requestUserToken">
      <soap:operation soapAction="?wsdl&amp;api=33#requestUserToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestAnonToken">
      <soap:operation soapAction="?wsdl&amp;api=33#requestAnonToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="purgeUserTokens">
      <soap:operation soapAction="?wsdl&amp;api=33#purgeUserTokens" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pingEcho">
      <soap:operation soapAction="?wsdl&amp;api=33#pingEcho" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEventList">
      <soap:operation soapAction="?wsdl&amp;api=33#getEventList" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupList">
      <soap:operation soapAction="?wsdl&amp;api=33#getGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="?wsdl&amp;api=33#registerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeUserPassword">
      <soap:operation soapAction="?wsdl&amp;api=33#changeUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetUserPassword">
      <soap:operation soapAction="?wsdl&amp;api=33#resetUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="forgotUsername">
      <soap:operation soapAction="?wsdl&amp;api=33#forgotUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserGroup">
      <soap:operation soapAction="?wsdl&amp;api=33#getUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessionCookie">
      <soap:operation soapAction="?wsdl&amp;api=33#getSessionCookie" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="?wsdl&amp;api=33#search" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchCount">
      <soap:operation soapAction="?wsdl&amp;api=33#searchCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportPerson">
      <soap:operation soapAction="?wsdl&amp;api=33#reportPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reReportPerson">
      <soap:operation soapAction="?wsdl&amp;api=33#reReportPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="expirePerson">
      <soap:operation soapAction="?wsdl&amp;api=33#expirePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportAbuse">
      <soap:operation soapAction="?wsdl&amp;api=33#reportAbuse" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <soap:operation soapAction="?wsdl&amp;api=33#addComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImageCountsAndTokens">
      <soap:operation soapAction="?wsdl&amp;api=33#getImageCountsAndTokens" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImageList">
      <soap:operation soapAction="?wsdl&amp;api=33#getImageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImageListBlock">
      <soap:operation soapAction="?wsdl&amp;api=33#getImageListBlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNullTokenList">
      <soap:operation soapAction="?wsdl&amp;api=33#getNullTokenList" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="appCheck">
      <soap:operation soapAction="?wsdl&amp;api=33#appCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerApplePushToken">
      <soap:operation soapAction="?wsdl&amp;api=33#registerApplePushToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalList">
      <soap:operation soapAction="?wsdl&amp;api=33#getHospitalList" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalData">
      <soap:operation soapAction="?wsdl&amp;api=33#getHospitalData" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalPolicy">
      <soap:operation soapAction="?wsdl&amp;api=33#getHospitalPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegalese">
      <soap:operation soapAction="?wsdl&amp;api=33#getHospitalLegalese" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegaleseAnon">
      <soap:operation soapAction="?wsdl&amp;api=33#getHospitalLegaleseAnon" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegaleseTimestamps">
      <soap:operation soapAction="?wsdl&amp;api=33#getHospitalLegaleseTimestamps" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUuidByMassCasualtyId">
      <soap:operation soapAction="?wsdl&amp;api=33#getUuidByMassCasualtyId" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeMassCasualtyId">
      <soap:operation soapAction="?wsdl&amp;api=33#changeMassCasualtyId" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="plusWebServices">
    <wsdl:port name="plusWebServicesPort" binding="tns:plusWebServicesBinding">
      <soap:address location="https://triagetrak.nlm.nih.gov/?wsdl&amp;api=33" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>