TP8/Service References/PLWS/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="soap/plusWebServices" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="soap/plusWebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="soap/plusWebServices">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="pingRequestType" />
      <xsd:complexType name="pingResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="time" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="pingWithEchoRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="pingString" type="xsd:string" />
          <xsd:element form="unqualified" name="latency" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="pingWithEchoResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="time" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getEventListRequestType" />
      <xsd:complexType name="getEventListResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="eventList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getEventListUserRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getEventListUserResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="eventList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getGroupListRequestType" />
      <xsd:complexType name="getGroupListResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="groupList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalListRequestType" />
      <xsd:complexType name="getHospitalListResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="hospitalList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalDataRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalDataResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="name" type="xsd:string" />
          <xsd:element form="unqualified" name="shortname" type="xsd:string" />
          <xsd:element form="unqualified" name="street1" type="xsd:string" />
          <xsd:element form="unqualified" name="street2" type="xsd:string" />
          <xsd:element form="unqualified" name="city" type="xsd:string" />
          <xsd:element form="unqualified" name="county" type="xsd:string" />
          <xsd:element form="unqualified" name="state" type="xsd:string" />
          <xsd:element form="unqualified" name="country" type="xsd:string" />
          <xsd:element form="unqualified" name="zip" type="xsd:string" />
          <xsd:element form="unqualified" name="phone" type="xsd:string" />
          <xsd:element form="unqualified" name="fax" type="xsd:string" />
          <xsd:element form="unqualified" name="email" type="xsd:string" />
          <xsd:element form="unqualified" name="www" type="xsd:string" />
          <xsd:element form="unqualified" name="npi" type="xsd:string" />
          <xsd:element form="unqualified" name="latitude" type="xsd:string" />
          <xsd:element form="unqualified" name="longitude" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalPolicyRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalPolicyResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="patientIdPrefix" type="xsd:string" />
          <xsd:element form="unqualified" name="patientIdSuffixVariable" type="xsd:boolean" />
          <xsd:element form="unqualified" name="patientIdSuffixFixedLength" type="xsd:integer" />
          <xsd:element form="unqualified" name="triageZoneList" type="xsd:string" />
          <xsd:element form="unqualified" name="photoRequired" type="xsd:boolean" />
          <xsd:element form="unqualified" name="honorNoPhotoRequest" type="xsd:boolean" />
          <xsd:element form="unqualified" name="photographerNameRequired" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="legalese" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseAnonRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseAnonResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="legaleseAnon" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseTimestampsRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseTimestampsResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="legaleseTimestamp" type="xsd:string" />
          <xsd:element form="unqualified" name="legaleseAnonTimestamp" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="appCheckRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="query_string" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="appCheckResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="url" type="xsd:string" />
          <xsd:element form="unqualified" name="text" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="registerPushTokenRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="deviceID" type="xsd:string" />
          <xsd:element form="unqualified" name="pushToken" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="deviceName" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="registerPushTokenResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="registerUserRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="emailAddress" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
          <xsd:element form="unqualified" name="givenName" type="xsd:string" />
          <xsd:element form="unqualified" name="familyName" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="registerUserResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="registered" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="registerUserActiveRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="emailAddress" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
          <xsd:element form="unqualified" name="givenName" type="xsd:string" />
          <xsd:element form="unqualified" name="familyName" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="registerUserActiveResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="registered" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="changeUserPasswordRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="oldPassword" type="xsd:string" />
          <xsd:element form="unqualified" name="newPassword" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="changeUserPasswordResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="changed" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="resetUserPasswordRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="email" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="resetUserPasswordResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="sent" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="forgotUsernameRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="email" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="forgotUsernameResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="sent" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="checkUserAuthRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="checkUserAuthResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="valid" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="checkUserAuthHospitalRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="checkUserAuthHospitalResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="valid" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getUserStatusRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="username" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getUserStatusResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="pending" type="xsd:boolean" />
          <xsd:element form="unqualified" name="active" type="xsd:boolean" />
          <xsd:element form="unqualified" name="locked" type="xsd:boolean" />
          <xsd:element form="unqualified" name="banned" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getUserGroupRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="username" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getUserGroupResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="group_id" type="xsd:integer" />
          <xsd:element form="unqualified" name="group_name" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="searchRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="eventShortname" type="xsd:string" />
          <xsd:element form="unqualified" name="searchTerm" type="xsd:string" />
          <xsd:element form="unqualified" name="filterStatusMissing" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusAlive" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusInjured" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusDeceased" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusFound" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderComplex" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderMale" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderFemale" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeChild" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeAdult" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterHospitalSH" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterHospitalWRNMMC" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterHospitalOther" type="xsd:boolean" />
          <xsd:element form="unqualified" name="pageStart" type="xsd:integer" />
          <xsd:element form="unqualified" name="perPage" type="xsd:integer" />
          <xsd:element form="unqualified" name="sortBy" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="searchResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="resultSet" type="xsd:string" />
          <xsd:element form="unqualified" name="recordsFound" type="xsd:integer" />
          <xsd:element form="unqualified" name="timeElapsed" type="xsd:double" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="searchWithAuthRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="eventShortname" type="xsd:string" />
          <xsd:element form="unqualified" name="searchTerm" type="xsd:string" />
          <xsd:element form="unqualified" name="filterStatusMissing" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusAlive" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusInjured" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusDeceased" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusFound" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderComplex" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderMale" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderFemale" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeChild" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeAdult" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterHospitalSH" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterHospitalWRNMMC" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterHospitalOther" type="xsd:boolean" />
          <xsd:element form="unqualified" name="pageStart" type="xsd:integer" />
          <xsd:element form="unqualified" name="perPage" type="xsd:integer" />
          <xsd:element form="unqualified" name="sortBy" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="searchWithAuthResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="resultSet" type="xsd:string" />
          <xsd:element form="unqualified" name="recordsFound" type="xsd:integer" />
          <xsd:element form="unqualified" name="timeElapsed" type="xsd:double" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="searchCountRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="eventShortname" type="xsd:string" />
          <xsd:element form="unqualified" name="searchTerm" type="xsd:string" />
          <xsd:element form="unqualified" name="filterStatusMissing" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusAlive" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusInjured" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusDeceased" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusFound" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderComplex" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderMale" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderFemale" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeChild" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeAdult" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterHospitalSH" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterHospitalWRNMMC" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterHospitalOther" type="xsd:boolean" />
          <xsd:element form="unqualified" name="pageStart" type="xsd:integer" />
          <xsd:element form="unqualified" name="perPage" type="xsd:integer" />
          <xsd:element form="unqualified" name="sortBy" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="searchCountResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="recordsFound" type="xsd:integer" />
          <xsd:element form="unqualified" name="timeElapsed" type="xsd:double" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="searchCountWithAuthRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="eventShortname" type="xsd:string" />
          <xsd:element form="unqualified" name="searchTerm" type="xsd:string" />
          <xsd:element form="unqualified" name="filterStatusMissing" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusAlive" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusInjured" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusDeceased" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterStatusFound" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderComplex" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderMale" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderFemale" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterGenderUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeChild" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeAdult" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterAgeUnknown" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterHospitalSH" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterHospitalWRNMMC" type="xsd:boolean" />
          <xsd:element form="unqualified" name="filterHospitalOther" type="xsd:boolean" />
          <xsd:element form="unqualified" name="pageStart" type="xsd:integer" />
          <xsd:element form="unqualified" name="perPage" type="xsd:integer" />
          <xsd:element form="unqualified" name="sortBy" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="searchCountWithAuthResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="recordsFound" type="xsd:integer" />
          <xsd:element form="unqualified" name="timeElapsed" type="xsd:double" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="findMostRecentReportAsFilteredRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="machine" type="xsd:string" />
          <xsd:element form="unqualified" name="login" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="hospitalShortName" type="xsd:string" />
          <xsd:element form="unqualified" name="eventShortName" type="xsd:string" />
          <xsd:element form="unqualified" name="closedEventsIncl" type="xsd:string" />
          <xsd:element form="unqualified" name="hospitalEventsIncl" type="xsd:string" />
          <xsd:element form="unqualified" name="publicEventsIncl" type="xsd:string" />
          <xsd:element form="unqualified" name="practiceMode" type="xsd:string" />
          <xsd:element form="unqualified" name="expiredIncl" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="findMostRecentReportAsFilteredResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="machine" type="xsd:string" />
          <xsd:element form="unqualified" name="login" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="hospitalShortName" type="xsd:string" />
          <xsd:element form="unqualified" name="eventShortName" type="xsd:string" />
          <xsd:element form="unqualified" name="mcID" type="xsd:string" />
          <xsd:element form="unqualified" name="creationDate" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reportPersonRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="personXML" type="xsd:string" />
          <xsd:element form="unqualified" name="eventShortName" type="xsd:string" />
          <xsd:element form="unqualified" name="xmlFormat" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reportPersonResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="url" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reReportPersonRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="personXML" type="xsd:string" />
          <xsd:element form="unqualified" name="eventShortname" type="xsd:string" />
          <xsd:element form="unqualified" name="xmlFormat" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reReportPersonResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="expirePersonRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="explanation" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="expirePersonResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="queued" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reportAbuseRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="identifier" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reportAbuseResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getPersonExpiryDateRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getPersonExpiryDateResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="expiryDate" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="setPersonExpiryDateRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="expiryDate" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="setPersonExpiryDateResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="queued" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="setPersonExpiryDateOneYearRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="setPersonExpiryDateOneYearResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="queued" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getUuidByMassCasualtyIdRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="mcid" type="xsd:string" />
          <xsd:element form="unqualified" name="shortname" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getUuidByMassCasualtyIdResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="changeMassCasualtyIdRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="newMcid" type="xsd:string" />
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="changeMassCasualtyIdResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="hasRecordBeenRevisedRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="hasRecordBeenRevisedResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="revisionsMade" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="addCommentRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="comment" type="xsd:string" />
          <xsd:element form="unqualified" name="suggested_status" type="xsd:string" />
          <xsd:element form="unqualified" name="suggested_location" type="xsd:string" />
          <xsd:element form="unqualified" name="suggested_image" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="addCommentResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getPersonPermissionsRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getPersonPermissionsResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="owner" type="xsd:string" />
          <xsd:element form="unqualified" name="groupIDs" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageCountsAndTokensRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="key" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageCountsAndTokensResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="imageCount" type="xsd:integer" />
          <xsd:element form="unqualified" name="firstToken" type="xsd:integer" />
          <xsd:element form="unqualified" name="lastToken" type="xsd:integer" />
          <xsd:element form="unqualified" name="nullTokenCount" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageListRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="tokenStart" type="xsd:integer" />
          <xsd:element form="unqualified" name="tokenEnd" type="xsd:integer" />
          <xsd:element form="unqualified" name="key" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageListResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="imageList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageListBlockRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="tokenStart" type="xsd:integer" />
          <xsd:element form="unqualified" name="stride" type="xsd:integer" />
          <xsd:element form="unqualified" name="key" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageListBlockResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="imageList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getNullTokenListRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="tokenStart" type="xsd:integer" />
          <xsd:element form="unqualified" name="tokenEnd" type="xsd:integer" />
          <xsd:element form="unqualified" name="key" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getNullTokenListResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="nullTokenList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:integer" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="ping" type="tns:pingRequestType" />
      <xsd:element name="pingResponse" type="tns:pingResponseType" />
      <xsd:element name="pingWithEcho" type="tns:pingWithEchoRequestType" />
      <xsd:element name="pingWithEchoResponse" type="tns:pingWithEchoResponseType" />
      <xsd:element name="getEventList" type="tns:getEventListRequestType" />
      <xsd:element name="getEventListResponse" type="tns:getEventListResponseType" />
      <xsd:element name="getEventListUser" type="tns:getEventListUserRequestType" />
      <xsd:element name="getEventListUserResponse" type="tns:getEventListUserResponseType" />
      <xsd:element name="getGroupList" type="tns:getGroupListRequestType" />
      <xsd:element name="getGroupListResponse" type="tns:getGroupListResponseType" />
      <xsd:element name="getHospitalList" type="tns:getHospitalListRequestType" />
      <xsd:element name="getHospitalListResponse" type="tns:getHospitalListResponseType" />
      <xsd:element name="getHospitalData" type="tns:getHospitalDataRequestType" />
      <xsd:element name="getHospitalDataResponse" type="tns:getHospitalDataResponseType" />
      <xsd:element name="getHospitalPolicy" type="tns:getHospitalPolicyRequestType" />
      <xsd:element name="getHospitalPolicyResponse" type="tns:getHospitalPolicyResponseType" />
      <xsd:element name="getHospitalLegalese" type="tns:getHospitalLegaleseRequestType" />
      <xsd:element name="getHospitalLegaleseResponse" type="tns:getHospitalLegaleseResponseType" />
      <xsd:element name="getHospitalLegaleseAnon" type="tns:getHospitalLegaleseAnonRequestType" />
      <xsd:element name="getHospitalLegaleseAnonResponse" type="tns:getHospitalLegaleseAnonResponseType" />
      <xsd:element name="getHospitalLegaleseTimestamps" type="tns:getHospitalLegaleseTimestampsRequestType" />
      <xsd:element name="getHospitalLegaleseTimestampsResponse" type="tns:getHospitalLegaleseTimestampsResponseType" />
      <xsd:element name="appCheck" type="tns:appCheckRequestType" />
      <xsd:element name="appCheckResponse" type="tns:appCheckResponseType" />
      <xsd:element name="registerPushToken" type="tns:registerPushTokenRequestType" />
      <xsd:element name="registerPushTokenResponse" type="tns:registerPushTokenResponseType" />
      <xsd:element name="registerUser" type="tns:registerUserRequestType" />
      <xsd:element name="registerUserResponse" type="tns:registerUserResponseType" />
      <xsd:element name="registerUserActive" type="tns:registerUserActiveRequestType" />
      <xsd:element name="registerUserActiveResponse" type="tns:registerUserActiveResponseType" />
      <xsd:element name="changeUserPassword" type="tns:changeUserPasswordRequestType" />
      <xsd:element name="changeUserPasswordResponse" type="tns:changeUserPasswordResponseType" />
      <xsd:element name="resetUserPassword" type="tns:resetUserPasswordRequestType" />
      <xsd:element name="resetUserPasswordResponse" type="tns:resetUserPasswordResponseType" />
      <xsd:element name="forgotUsername" type="tns:forgotUsernameRequestType" />
      <xsd:element name="forgotUsernameResponse" type="tns:forgotUsernameResponseType" />
      <xsd:element name="checkUserAuth" type="tns:checkUserAuthRequestType" />
      <xsd:element name="checkUserAuthResponse" type="tns:checkUserAuthResponseType" />
      <xsd:element name="checkUserAuthHospital" type="tns:checkUserAuthHospitalRequestType" />
      <xsd:element name="checkUserAuthHospitalResponse" type="tns:checkUserAuthHospitalResponseType" />
      <xsd:element name="getUserStatus" type="tns:getUserStatusRequestType" />
      <xsd:element name="getUserStatusResponse" type="tns:getUserStatusResponseType" />
      <xsd:element name="getUserGroup" type="tns:getUserGroupRequestType" />
      <xsd:element name="getUserGroupResponse" type="tns:getUserGroupResponseType" />
      <xsd:element name="search" type="tns:searchRequestType" />
      <xsd:element name="searchResponse" type="tns:searchResponseType" />
      <xsd:element name="searchWithAuth" type="tns:searchWithAuthRequestType" />
      <xsd:element name="searchWithAuthResponse" type="tns:searchWithAuthResponseType" />
      <xsd:element name="searchCount" type="tns:searchCountRequestType" />
      <xsd:element name="searchCountResponse" type="tns:searchCountResponseType" />
      <xsd:element name="searchCountWithAuth" type="tns:searchCountWithAuthRequestType" />
      <xsd:element name="searchCountWithAuthResponse" type="tns:searchCountWithAuthResponseType" />
      <xsd:element name="findMostRecentReportAsFiltered" type="tns:findMostRecentReportAsFilteredRequestType" />
      <xsd:element name="findMostRecentReportAsFilteredResponse" type="tns:findMostRecentReportAsFilteredResponseType" />
      <xsd:element name="reportPerson" type="tns:reportPersonRequestType" />
      <xsd:element name="reportPersonResponse" type="tns:reportPersonResponseType" />
      <xsd:element name="reReportPerson" type="tns:reReportPersonRequestType" />
      <xsd:element name="reReportPersonResponse" type="tns:reReportPersonResponseType" />
      <xsd:element name="expirePerson" type="tns:expirePersonRequestType" />
      <xsd:element name="expirePersonResponse" type="tns:expirePersonResponseType" />
      <xsd:element name="reportAbuse" type="tns:reportAbuseRequestType" />
      <xsd:element name="reportAbuseResponse" type="tns:reportAbuseResponseType" />
      <xsd:element name="getPersonExpiryDate" type="tns:getPersonExpiryDateRequestType" />
      <xsd:element name="getPersonExpiryDateResponse" type="tns:getPersonExpiryDateResponseType" />
      <xsd:element name="setPersonExpiryDate" type="tns:setPersonExpiryDateRequestType" />
      <xsd:element name="setPersonExpiryDateResponse" type="tns:setPersonExpiryDateResponseType" />
      <xsd:element name="setPersonExpiryDateOneYear" type="tns:setPersonExpiryDateOneYearRequestType" />
      <xsd:element name="setPersonExpiryDateOneYearResponse" type="tns:setPersonExpiryDateOneYearResponseType" />
      <xsd:element name="getUuidByMassCasualtyId" type="tns:getUuidByMassCasualtyIdRequestType" />
      <xsd:element name="getUuidByMassCasualtyIdResponse" type="tns:getUuidByMassCasualtyIdResponseType" />
      <xsd:element name="changeMassCasualtyId" type="tns:changeMassCasualtyIdRequestType" />
      <xsd:element name="changeMassCasualtyIdResponse" type="tns:changeMassCasualtyIdResponseType" />
      <xsd:element name="hasRecordBeenRevised" type="tns:hasRecordBeenRevisedRequestType" />
      <xsd:element name="hasRecordBeenRevisedResponse" type="tns:hasRecordBeenRevisedResponseType" />
      <xsd:element name="addComment" type="tns:addCommentRequestType" />
      <xsd:element name="addCommentResponse" type="tns:addCommentResponseType" />
      <xsd:element name="getPersonPermissions" type="tns:getPersonPermissionsRequestType" />
      <xsd:element name="getPersonPermissionsResponse" type="tns:getPersonPermissionsResponseType" />
      <xsd:element name="getImageCountsAndTokens" type="tns:getImageCountsAndTokensRequestType" />
      <xsd:element name="getImageCountsAndTokensResponse" type="tns:getImageCountsAndTokensResponseType" />
      <xsd:element name="getImageList" type="tns:getImageListRequestType" />
      <xsd:element name="getImageListResponse" type="tns:getImageListResponseType" />
      <xsd:element name="getImageListBlock" type="tns:getImageListBlockRequestType" />
      <xsd:element name="getImageListBlockResponse" type="tns:getImageListBlockResponseType" />
      <xsd:element name="getNullTokenList" type="tns:getNullTokenListRequestType" />
      <xsd:element name="getNullTokenListResponse" type="tns:getNullTokenListResponseType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping" />
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse" />
  </wsdl:message>
  <wsdl:message name="pingWithEchoRequest">
    <wsdl:part name="parameters" element="tns:pingWithEcho" />
  </wsdl:message>
  <wsdl:message name="pingWithEchoResponse">
    <wsdl:part name="parameters" element="tns:pingWithEchoResponse" />
  </wsdl:message>
  <wsdl:message name="getEventListRequest">
    <wsdl:part name="parameters" element="tns:getEventList" />
  </wsdl:message>
  <wsdl:message name="getEventListResponse">
    <wsdl:part name="parameters" element="tns:getEventListResponse" />
  </wsdl:message>
  <wsdl:message name="getEventListUserRequest">
    <wsdl:part name="parameters" element="tns:getEventListUser" />
  </wsdl:message>
  <wsdl:message name="getEventListUserResponse">
    <wsdl:part name="parameters" element="tns:getEventListUserResponse" />
  </wsdl:message>
  <wsdl:message name="getGroupListRequest">
    <wsdl:part name="parameters" element="tns:getGroupList" />
  </wsdl:message>
  <wsdl:message name="getGroupListResponse">
    <wsdl:part name="parameters" element="tns:getGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalListRequest">
    <wsdl:part name="parameters" element="tns:getHospitalList" />
  </wsdl:message>
  <wsdl:message name="getHospitalListResponse">
    <wsdl:part name="parameters" element="tns:getHospitalListResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalDataRequest">
    <wsdl:part name="parameters" element="tns:getHospitalData" />
  </wsdl:message>
  <wsdl:message name="getHospitalDataResponse">
    <wsdl:part name="parameters" element="tns:getHospitalDataResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalPolicyRequest">
    <wsdl:part name="parameters" element="tns:getHospitalPolicy" />
  </wsdl:message>
  <wsdl:message name="getHospitalPolicyResponse">
    <wsdl:part name="parameters" element="tns:getHospitalPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseRequest">
    <wsdl:part name="parameters" element="tns:getHospitalLegalese" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseResponse">
    <wsdl:part name="parameters" element="tns:getHospitalLegaleseResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseAnonRequest">
    <wsdl:part name="parameters" element="tns:getHospitalLegaleseAnon" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseAnonResponse">
    <wsdl:part name="parameters" element="tns:getHospitalLegaleseAnonResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseTimestampsRequest">
    <wsdl:part name="parameters" element="tns:getHospitalLegaleseTimestamps" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseTimestampsResponse">
    <wsdl:part name="parameters" element="tns:getHospitalLegaleseTimestampsResponse" />
  </wsdl:message>
  <wsdl:message name="appCheckRequest">
    <wsdl:part name="parameters" element="tns:appCheck" />
  </wsdl:message>
  <wsdl:message name="appCheckResponse">
    <wsdl:part name="parameters" element="tns:appCheckResponse" />
  </wsdl:message>
  <wsdl:message name="registerPushTokenRequest">
    <wsdl:part name="parameters" element="tns:registerPushToken" />
  </wsdl:message>
  <wsdl:message name="registerPushTokenResponse">
    <wsdl:part name="parameters" element="tns:registerPushTokenResponse" />
  </wsdl:message>
  <wsdl:message name="registerUserRequest">
    <wsdl:part name="parameters" element="tns:registerUser" />
  </wsdl:message>
  <wsdl:message name="registerUserResponse">
    <wsdl:part name="parameters" element="tns:registerUserResponse" />
  </wsdl:message>
  <wsdl:message name="registerUserActiveRequest">
    <wsdl:part name="parameters" element="tns:registerUserActive" />
  </wsdl:message>
  <wsdl:message name="registerUserActiveResponse">
    <wsdl:part name="parameters" element="tns:registerUserActiveResponse" />
  </wsdl:message>
  <wsdl:message name="changeUserPasswordRequest">
    <wsdl:part name="parameters" element="tns:changeUserPassword" />
  </wsdl:message>
  <wsdl:message name="changeUserPasswordResponse">
    <wsdl:part name="parameters" element="tns:changeUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="resetUserPasswordRequest">
    <wsdl:part name="parameters" element="tns:resetUserPassword" />
  </wsdl:message>
  <wsdl:message name="resetUserPasswordResponse">
    <wsdl:part name="parameters" element="tns:resetUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="forgotUsernameRequest">
    <wsdl:part name="parameters" element="tns:forgotUsername" />
  </wsdl:message>
  <wsdl:message name="forgotUsernameResponse">
    <wsdl:part name="parameters" element="tns:forgotUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="checkUserAuthRequest">
    <wsdl:part name="parameters" element="tns:checkUserAuth" />
  </wsdl:message>
  <wsdl:message name="checkUserAuthResponse">
    <wsdl:part name="parameters" element="tns:checkUserAuthResponse" />
  </wsdl:message>
  <wsdl:message name="checkUserAuthHospitalRequest">
    <wsdl:part name="parameters" element="tns:checkUserAuthHospital" />
  </wsdl:message>
  <wsdl:message name="checkUserAuthHospitalResponse">
    <wsdl:part name="parameters" element="tns:checkUserAuthHospitalResponse" />
  </wsdl:message>
  <wsdl:message name="getUserStatusRequest">
    <wsdl:part name="parameters" element="tns:getUserStatus" />
  </wsdl:message>
  <wsdl:message name="getUserStatusResponse">
    <wsdl:part name="parameters" element="tns:getUserStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getUserGroupRequest">
    <wsdl:part name="parameters" element="tns:getUserGroup" />
  </wsdl:message>
  <wsdl:message name="getUserGroupResponse">
    <wsdl:part name="parameters" element="tns:getUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="searchRequest">
    <wsdl:part name="parameters" element="tns:search" />
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part name="parameters" element="tns:searchResponse" />
  </wsdl:message>
  <wsdl:message name="searchWithAuthRequest">
    <wsdl:part name="parameters" element="tns:searchWithAuth" />
  </wsdl:message>
  <wsdl:message name="searchWithAuthResponse">
    <wsdl:part name="parameters" element="tns:searchWithAuthResponse" />
  </wsdl:message>
  <wsdl:message name="searchCountRequest">
    <wsdl:part name="parameters" element="tns:searchCount" />
  </wsdl:message>
  <wsdl:message name="searchCountResponse">
    <wsdl:part name="parameters" element="tns:searchCountResponse" />
  </wsdl:message>
  <wsdl:message name="searchCountWithAuthRequest">
    <wsdl:part name="parameters" element="tns:searchCountWithAuth" />
  </wsdl:message>
  <wsdl:message name="searchCountWithAuthResponse">
    <wsdl:part name="parameters" element="tns:searchCountWithAuthResponse" />
  </wsdl:message>
  <wsdl:message name="findMostRecentReportAsFilteredRequest">
    <wsdl:part name="parameters" element="tns:findMostRecentReportAsFiltered" />
  </wsdl:message>
  <wsdl:message name="findMostRecentReportAsFilteredResponse">
    <wsdl:part name="parameters" element="tns:findMostRecentReportAsFilteredResponse" />
  </wsdl:message>
  <wsdl:message name="reportPersonRequest">
    <wsdl:part name="parameters" element="tns:reportPerson" />
  </wsdl:message>
  <wsdl:message name="reportPersonResponse">
    <wsdl:part name="parameters" element="tns:reportPersonResponse" />
  </wsdl:message>
  <wsdl:message name="reReportPersonRequest">
    <wsdl:part name="parameters" element="tns:reReportPerson" />
  </wsdl:message>
  <wsdl:message name="reReportPersonResponse">
    <wsdl:part name="parameters" element="tns:reReportPersonResponse" />
  </wsdl:message>
  <wsdl:message name="expirePersonRequest">
    <wsdl:part name="parameters" element="tns:expirePerson" />
  </wsdl:message>
  <wsdl:message name="expirePersonResponse">
    <wsdl:part name="parameters" element="tns:expirePersonResponse" />
  </wsdl:message>
  <wsdl:message name="reportAbuseRequest">
    <wsdl:part name="parameters" element="tns:reportAbuse" />
  </wsdl:message>
  <wsdl:message name="reportAbuseResponse">
    <wsdl:part name="parameters" element="tns:reportAbuseResponse" />
  </wsdl:message>
  <wsdl:message name="getPersonExpiryDateRequest">
    <wsdl:part name="parameters" element="tns:getPersonExpiryDate" />
  </wsdl:message>
  <wsdl:message name="getPersonExpiryDateResponse">
    <wsdl:part name="parameters" element="tns:getPersonExpiryDateResponse" />
  </wsdl:message>
  <wsdl:message name="setPersonExpiryDateRequest">
    <wsdl:part name="parameters" element="tns:setPersonExpiryDate" />
  </wsdl:message>
  <wsdl:message name="setPersonExpiryDateResponse">
    <wsdl:part name="parameters" element="tns:setPersonExpiryDateResponse" />
  </wsdl:message>
  <wsdl:message name="setPersonExpiryDateOneYearRequest">
    <wsdl:part name="parameters" element="tns:setPersonExpiryDateOneYear" />
  </wsdl:message>
  <wsdl:message name="setPersonExpiryDateOneYearResponse">
    <wsdl:part name="parameters" element="tns:setPersonExpiryDateOneYearResponse" />
  </wsdl:message>
  <wsdl:message name="getUuidByMassCasualtyIdRequest">
    <wsdl:part name="parameters" element="tns:getUuidByMassCasualtyId" />
  </wsdl:message>
  <wsdl:message name="getUuidByMassCasualtyIdResponse">
    <wsdl:part name="parameters" element="tns:getUuidByMassCasualtyIdResponse" />
  </wsdl:message>
  <wsdl:message name="changeMassCasualtyIdRequest">
    <wsdl:part name="parameters" element="tns:changeMassCasualtyId" />
  </wsdl:message>
  <wsdl:message name="changeMassCasualtyIdResponse">
    <wsdl:part name="parameters" element="tns:changeMassCasualtyIdResponse" />
  </wsdl:message>
  <wsdl:message name="hasRecordBeenRevisedRequest">
    <wsdl:part name="parameters" element="tns:hasRecordBeenRevised" />
  </wsdl:message>
  <wsdl:message name="hasRecordBeenRevisedResponse">
    <wsdl:part name="parameters" element="tns:hasRecordBeenRevisedResponse" />
  </wsdl:message>
  <wsdl:message name="addCommentRequest">
    <wsdl:part name="parameters" element="tns:addComment" />
  </wsdl:message>
  <wsdl:message name="addCommentResponse">
    <wsdl:part name="parameters" element="tns:addCommentResponse" />
  </wsdl:message>
  <wsdl:message name="getPersonPermissionsRequest">
    <wsdl:part name="parameters" element="tns:getPersonPermissions" />
  </wsdl:message>
  <wsdl:message name="getPersonPermissionsResponse">
    <wsdl:part name="parameters" element="tns:getPersonPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="getImageCountsAndTokensRequest">
    <wsdl:part name="parameters" element="tns:getImageCountsAndTokens" />
  </wsdl:message>
  <wsdl:message name="getImageCountsAndTokensResponse">
    <wsdl:part name="parameters" element="tns:getImageCountsAndTokensResponse" />
  </wsdl:message>
  <wsdl:message name="getImageListRequest">
    <wsdl:part name="parameters" element="tns:getImageList" />
  </wsdl:message>
  <wsdl:message name="getImageListResponse">
    <wsdl:part name="parameters" element="tns:getImageListResponse" />
  </wsdl:message>
  <wsdl:message name="getImageListBlockRequest">
    <wsdl:part name="parameters" element="tns:getImageListBlock" />
  </wsdl:message>
  <wsdl:message name="getImageListBlockResponse">
    <wsdl:part name="parameters" element="tns:getImageListBlockResponse" />
  </wsdl:message>
  <wsdl:message name="getNullTokenListRequest">
    <wsdl:part name="parameters" element="tns:getNullTokenList" />
  </wsdl:message>
  <wsdl:message name="getNullTokenListResponse">
    <wsdl:part name="parameters" element="tns:getNullTokenListResponse" />
  </wsdl:message>
  <wsdl:portType name="plusWebServicesPortType">
    <wsdl:operation name="ping">
      <documentation>Used to test if the server is active/up.</documentation>
      <wsdl:input message="tns:pingRequest" />
      <wsdl:output message="tns:pingResponse" />
    </wsdl:operation>
    <wsdl:operation name="pingWithEcho">
      <documentation>Used to test if the server is active/up as well as report latency data. The latency is calculated from the previous ping call, so during the intial call of this service, you would report a latency of -1, 0, or null to signifiy no latency.</documentation>
      <wsdl:input message="tns:pingWithEchoRequest" />
      <wsdl:output message="tns:pingWithEchoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEventList">
      <documentation>Returns an array of (event_id, parent_id, name, shortname, date, type, latitude, longitude, street, group) public disaster events.</documentation>
      <wsdl:input message="tns:getEventListRequest" />
      <wsdl:output message="tns:getEventListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEventListUser">
      <documentation>Returns an array of (event_id, parent_id, name, shortname, date, type, latitude, longitude, street) disaster events accessible by a certain user.</documentation>
      <wsdl:input message="tns:getEventListUserRequest" />
      <wsdl:output message="tns:getEventListUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGroupList">
      <documentation>Returns an array of (group_id, group_name) listing all groups in the system.</documentation>
      <wsdl:input message="tns:getGroupListRequest" />
      <wsdl:output message="tns:getGroupListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalList">
      <documentation>Returns an array of (hospital_uuid, name, shortname, latitude, longitude).</documentation>
      <wsdl:input message="tns:getHospitalListRequest" />
      <wsdl:output message="tns:getHospitalListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalData">
      <documentation>Returns all data relavent to a perticular hospital.</documentation>
      <wsdl:input message="tns:getHospitalDataRequest" />
      <wsdl:output message="tns:getHospitalDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalPolicy">
      <documentation>Returns all policy data relavent to a particular hospital.</documentation>
      <wsdl:input message="tns:getHospitalPolicyRequest" />
      <wsdl:output message="tns:getHospitalPolicyResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegalese">
      <documentation>Retrieve a particular hospitals legalese clause.</documentation>
      <wsdl:input message="tns:getHospitalLegaleseRequest" />
      <wsdl:output message="tns:getHospitalLegaleseResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegaleseAnon">
      <documentation>Retrieve a particular hospitals anonymous legalese clause.</documentation>
      <wsdl:input message="tns:getHospitalLegaleseAnonRequest" />
      <wsdl:output message="tns:getHospitalLegaleseAnonResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegaleseTimestamps">
      <documentation>Retrieves information about when the legalese clauses were last updated for a particular hospital.</documentation>
      <wsdl:input message="tns:getHospitalLegaleseTimestampsRequest" />
      <wsdl:output message="tns:getHospitalLegaleseTimestampsResponse" />
    </wsdl:operation>
    <wsdl:operation name="appCheck">
      <documentation>Allows an app to find out if it is using the latest version. There is a 1:1 correlation between the query_string and the response in terms of what is returned in two output parameters.</documentation>
      <wsdl:input message="tns:appCheckRequest" />
      <wsdl:output message="tns:appCheckResponse" />
    </wsdl:operation>
    <wsdl:operation name="registerPushToken">
      <documentation>register iOS push notification token using the deviceID as the primary key.</documentation>
      <wsdl:input message="tns:registerPushTokenRequest" />
      <wsdl:output message="tns:registerPushTokenResponse" />
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <documentation>Creates a new inactive (pending confirmation) user in the system with the supplied characteristics and credentials.</documentation>
      <wsdl:input message="tns:registerUserRequest" />
      <wsdl:output message="tns:registerUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="registerUserActive">
      <documentation>Creates a new active user in the system with the supplied characteristics and credentials.</documentation>
      <wsdl:input message="tns:registerUserActiveRequest" />
      <wsdl:output message="tns:registerUserActiveResponse" />
    </wsdl:operation>
    <wsdl:operation name="changeUserPassword">
      <documentation>Changes a user password from old to new.</documentation>
      <wsdl:input message="tns:changeUserPasswordRequest" />
      <wsdl:output message="tns:changeUserPasswordResponse" />
    </wsdl:operation>
    <wsdl:operation name="resetUserPassword">
      <documentation>Initiates the password reset procedure.</documentation>
      <wsdl:input message="tns:resetUserPasswordRequest" />
      <wsdl:output message="tns:resetUserPasswordResponse" />
    </wsdl:operation>
    <wsdl:operation name="forgotUsername">
      <documentation>Sends an email to the user with their username.</documentation>
      <wsdl:input message="tns:forgotUsernameRequest" />
      <wsdl:output message="tns:forgotUsernameResponse" />
    </wsdl:operation>
    <wsdl:operation name="checkUserAuth">
      <documentation>Used to verify a username / password combination are valid.</documentation>
      <wsdl:input message="tns:checkUserAuthRequest" />
      <wsdl:output message="tns:checkUserAuthResponse" />
    </wsdl:operation>
    <wsdl:operation name="checkUserAuthHospital">
      <documentation>Used to verify a username / password combination are valid for Hospital Staff.</documentation>
      <wsdl:input message="tns:checkUserAuthHospitalRequest" />
      <wsdl:output message="tns:checkUserAuthHospitalResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUserStatus">
      <documentation>Used to determine user account status without authenticating.</documentation>
      <wsdl:input message="tns:getUserStatusRequest" />
      <wsdl:output message="tns:getUserStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUserGroup">
      <documentation>Shows which group a user is part of without authenticating.</documentation>
      <wsdl:input message="tns:getUserGroupRequest" />
      <wsdl:output message="tns:getUserGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="search">
      <documentation>Performs a search across a specific PUBLIC event with filters, paging, and sort options. Returns a complete data set for each person in the results.</documentation>
      <wsdl:input message="tns:searchRequest" />
      <wsdl:output message="tns:searchResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchWithAuth">
      <documentation>Performs a search across a specific event with filters, paging, and sort options with authentication. Returns a complete data set for each person in the results.</documentation>
      <wsdl:input message="tns:searchWithAuthRequest" />
      <wsdl:output message="tns:searchWithAuthResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchCount">
      <documentation>Performs a search across a specific PUBLIC event with filters, paging, and sort options, but only returns the number of results found.</documentation>
      <wsdl:input message="tns:searchCountRequest" />
      <wsdl:output message="tns:searchCountResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchCountWithAuth">
      <documentation>Performs a search across a specific event with filters, paging, and sort options with authentication, but only returns the number of results found.</documentation>
      <wsdl:input message="tns:searchCountWithAuthRequest" />
      <wsdl:output message="tns:searchCountWithAuthResponse" />
    </wsdl:operation>
    <wsdl:operation name="findMostRecentReportAsFiltered">
      <documentation>Assists a fresh install of TriagePic, either de novo or where the local data in the Shared TriagePic Data folder has been wiped.</documentation>
      <wsdl:input message="tns:findMostRecentReportAsFilteredRequest" />
      <wsdl:output message="tns:findMostRecentReportAsFilteredResponse" />
    </wsdl:operation>
    <wsdl:operation name="reportPerson">
      <documentation>Report a new person using the LPF v1.2 XML format.</documentation>
      <wsdl:input message="tns:reportPersonRequest" />
      <wsdl:output message="tns:reportPersonResponse" />
    </wsdl:operation>
    <wsdl:operation name="reReportPerson">
      <documentation>Re-report a person using XML which will replace an existing record.</documentation>
      <wsdl:input message="tns:reReportPersonRequest" />
      <wsdl:output message="tns:reReportPersonResponse" />
    </wsdl:operation>
    <wsdl:operation name="expirePerson">
      <documentation>Owners, admins, and HSA can immediately expire a record, everyone else can submit an expiration request to a moderated queue.</documentation>
      <wsdl:input message="tns:expirePersonRequest" />
      <wsdl:output message="tns:expirePersonResponse" />
    </wsdl:operation>
    <wsdl:operation name="reportAbuse">
      <documentation>A flag is set for a moderator to review a particular record for potential spam or other reason.</documentation>
      <wsdl:input message="tns:reportAbuseRequest" />
      <wsdl:output message="tns:reportAbuseResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPersonExpiryDate">
      <documentation>Get the datetime in UTC when a person record will expire.</documentation>
      <wsdl:input message="tns:getPersonExpiryDateRequest" />
      <wsdl:output message="tns:getPersonExpiryDateResponse" />
    </wsdl:operation>
    <wsdl:operation name="setPersonExpiryDate">
      <documentation>Owners, admins, and HSA can immediately update a records expiry date, everyone else can submit a request to update the expiry date to a moderated queue.</documentation>
      <wsdl:input message="tns:setPersonExpiryDateRequest" />
      <wsdl:output message="tns:setPersonExpiryDateResponse" />
    </wsdl:operation>
    <wsdl:operation name="setPersonExpiryDateOneYear">
      <documentation>Owners, admins, and HSA can immediately update a records expiry date, everyone else can submit a request to update the expiry date to a moderated queue. The expiry date in this case is updated to exactly one year from the time of the request.</documentation>
      <wsdl:input message="tns:setPersonExpiryDateOneYearRequest" />
      <wsdl:output message="tns:setPersonExpiryDateOneYearResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUuidByMassCasualtyId">
      <documentation>A simple lookup of the internal uuid of a person based on their mass casualty id (if it exists).</documentation>
      <wsdl:input message="tns:getUuidByMassCasualtyIdRequest" />
      <wsdl:output message="tns:getUuidByMassCasualtyIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="changeMassCasualtyId">
      <documentation>Updates the mass casualty id of a person based on their uuid.</documentation>
      <wsdl:input message="tns:changeMassCasualtyIdRequest" />
      <wsdl:output message="tns:changeMassCasualtyIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="hasRecordBeenRevised">
      <documentation>A simple lookup to determine if a record is still an original or has incurred revisions.</documentation>
      <wsdl:input message="tns:hasRecordBeenRevisedRequest" />
      <wsdl:output message="tns:hasRecordBeenRevisedResponse" />
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <documentation>Add a text comment and suggest a status, location, and image for a person.</documentation>
      <wsdl:input message="tns:addCommentRequest" />
      <wsdl:output message="tns:addCommentResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPersonPermissions">
      <documentation>Find out who has permission to revise a record.</documentation>
      <wsdl:input message="tns:getPersonPermissionsRequest" />
      <wsdl:output message="tns:getPersonPermissionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getImageCountsAndTokens">
      <documentation>Returns a count of the total number of images and the value of the latest brownie (image index value).</documentation>
      <wsdl:input message="tns:getImageCountsAndTokensRequest" />
      <wsdl:output message="tns:getImageCountsAndTokensResponse" />
    </wsdl:operation>
    <wsdl:operation name="getImageList">
      <documentation>Returns a list of the images and their associated properties, paginated by a start and end token (index value).</documentation>
      <wsdl:input message="tns:getImageListRequest" />
      <wsdl:output message="tns:getImageListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getImageListBlock">
      <documentation>Returns a list of the images and their associated properties, in blocks of stride size beginning with a start token (index value).</documentation>
      <wsdl:input message="tns:getImageListBlockRequest" />
      <wsdl:output message="tns:getImageListBlockResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNullTokenList">
      <documentation>Returns a list of the images that have been removed from the system (either deleted or expired).</documentation>
      <wsdl:input message="tns:getNullTokenListRequest" />
      <wsdl:output message="tns:getNullTokenListResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="plusWebServicesBinding" type="tns:plusWebServicesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ping">
      <soap:operation soapAction="?wsdl&amp;api=31#ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pingWithEcho">
      <soap:operation soapAction="?wsdl&amp;api=31#pingWithEcho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEventList">
      <soap:operation soapAction="?wsdl&amp;api=31#getEventList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEventListUser">
      <soap:operation soapAction="?wsdl&amp;api=31#getEventListUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupList">
      <soap:operation soapAction="?wsdl&amp;api=31#getGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalList">
      <soap:operation soapAction="?wsdl&amp;api=31#getHospitalList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalData">
      <soap:operation soapAction="?wsdl&amp;api=31#getHospitalData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalPolicy">
      <soap:operation soapAction="?wsdl&amp;api=31#getHospitalPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegalese">
      <soap:operation soapAction="?wsdl&amp;api=31#getHospitalLegalese" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegaleseAnon">
      <soap:operation soapAction="?wsdl&amp;api=31#getHospitalLegaleseAnon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegaleseTimestamps">
      <soap:operation soapAction="?wsdl&amp;api=31#getHospitalLegaleseTimestamps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="appCheck">
      <soap:operation soapAction="?wsdl&amp;api=31#appCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerPushToken">
      <soap:operation soapAction="?wsdl&amp;api=31#registerPushToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="?wsdl&amp;api=31#registerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerUserActive">
      <soap:operation soapAction="?wsdl&amp;api=31#registerUserActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeUserPassword">
      <soap:operation soapAction="?wsdl&amp;api=31#changeUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetUserPassword">
      <soap:operation soapAction="?wsdl&amp;api=31#resetUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="forgotUsername">
      <soap:operation soapAction="?wsdl&amp;api=31#forgotUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUserAuth">
      <soap:operation soapAction="?wsdl&amp;api=31#checkUserAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUserAuthHospital">
      <soap:operation soapAction="?wsdl&amp;api=31#checkUserAuthHospital" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserStatus">
      <soap:operation soapAction="?wsdl&amp;api=31#getUserStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserGroup">
      <soap:operation soapAction="?wsdl&amp;api=31#getUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="?wsdl&amp;api=31#search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchWithAuth">
      <soap:operation soapAction="?wsdl&amp;api=31#searchWithAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchCount">
      <soap:operation soapAction="?wsdl&amp;api=31#searchCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchCountWithAuth">
      <soap:operation soapAction="?wsdl&amp;api=31#searchCountWithAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findMostRecentReportAsFiltered">
      <soap:operation soapAction="?wsdl&amp;api=31#findMostRecentReportAsFiltered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportPerson">
      <soap:operation soapAction="?wsdl&amp;api=31#reportPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reReportPerson">
      <soap:operation soapAction="?wsdl&amp;api=31#reReportPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="expirePerson">
      <soap:operation soapAction="?wsdl&amp;api=31#expirePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportAbuse">
      <soap:operation soapAction="?wsdl&amp;api=31#reportAbuse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonExpiryDate">
      <soap:operation soapAction="?wsdl&amp;api=31#getPersonExpiryDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPersonExpiryDate">
      <soap:operation soapAction="?wsdl&amp;api=31#setPersonExpiryDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPersonExpiryDateOneYear">
      <soap:operation soapAction="?wsdl&amp;api=31#setPersonExpiryDateOneYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUuidByMassCasualtyId">
      <soap:operation soapAction="?wsdl&amp;api=31#getUuidByMassCasualtyId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeMassCasualtyId">
      <soap:operation soapAction="?wsdl&amp;api=31#changeMassCasualtyId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hasRecordBeenRevised">
      <soap:operation soapAction="?wsdl&amp;api=31#hasRecordBeenRevised" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <soap:operation soapAction="?wsdl&amp;api=31#addComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonPermissions">
      <soap:operation soapAction="?wsdl&amp;api=31#getPersonPermissions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImageCountsAndTokens">
      <soap:operation soapAction="?wsdl&amp;api=31#getImageCountsAndTokens" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImageList">
      <soap:operation soapAction="?wsdl&amp;api=31#getImageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImageListBlock">
      <soap:operation soapAction="?wsdl&amp;api=31#getImageListBlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNullTokenList">
      <soap:operation soapAction="?wsdl&amp;api=31#getNullTokenList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="plusWebServices">
    <wsdl:port name="plusWebServicesPort" binding="tns:plusWebServicesBinding">
      <soap:address location="https://triagetrak.nlm.nih.gov/?wsdl&amp;api=31" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>