TP8/Service References/PLWS/plus1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://triagetrak.nlm.nih.gov/plusWebServices" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="https://triagetrak.nlm.nih.gov/plusWebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="https://triagetrak.nlm.nih.gov/plusWebServices">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="requestUserTokenRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="requestUserTokenResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="group_id" type="xsd:int" />
          <xsd:element form="unqualified" name="group_name" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="requestAnonTokenRequestType" />
      <xsd:complexType name="requestAnonTokenResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="purgeUserTokensRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="purgeUserTokensResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="pingEchoRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="pingString" type="xsd:string" />
          <xsd:element form="unqualified" name="latency" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="pingEchoResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="time" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getEventListRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getEventListResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="eventList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getGroupListRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getGroupListResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="groupList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="registerUserCaptchaRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="email" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
          <xsd:element form="unqualified" name="captcha" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="registerUserCaptchaResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="newToken" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="registerUserRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="emailAddress" type="xsd:string" />
          <xsd:element form="unqualified" name="password" type="xsd:string" />
          <xsd:element form="unqualified" name="givenName" type="xsd:string" />
          <xsd:element form="unqualified" name="familyName" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="registerUserResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="registered" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="changeUserPasswordRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="username" type="xsd:string" />
          <xsd:element form="unqualified" name="oldPassword" type="xsd:string" />
          <xsd:element form="unqualified" name="newPassword" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="changeUserPasswordResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="changed" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="resetUserPasswordRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="email" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="resetUserPasswordResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="sent" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="forgotUsernameRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="email" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="forgotUsernameResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="sent" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getSessionCookieRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getSessionCookieResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="SESSION_ID" type="xsd:string" />
          <xsd:element form="unqualified" name="SESS_KEY" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="searchRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="eventShortname" type="xsd:string" />
          <xsd:element form="unqualified" name="query" type="xsd:string" />
          <xsd:element form="unqualified" name="photo" type="xsd:string" />
          <xsd:element form="unqualified" name="filters" type="xsd:string" />
          <xsd:element form="unqualified" name="pageStart" type="xsd:int" />
          <xsd:element form="unqualified" name="perPage" type="xsd:int" />
          <xsd:element form="unqualified" name="sortBy" type="xsd:string" />
          <xsd:element form="unqualified" name="countOnly" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="searchResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="resultSet" type="xsd:string" />
          <xsd:element form="unqualified" name="recordsFound" type="xsd:int" />
          <xsd:element form="unqualified" name="timeElapsed" type="xsd:double" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reportRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="payload" type="xsd:string" />
          <xsd:element form="unqualified" name="payloadFormat" type="xsd:string" />
          <xsd:element form="unqualified" name="shortname" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reportResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="updateRecordRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="payload" type="xsd:string" />
          <xsd:element form="unqualified" name="payloadFormat" type="xsd:string" />
          <xsd:element form="unqualified" name="shortname" type="xsd:string" />
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="updateRecordResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reportAbuseRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="explanation" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reportAbuseResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="addCommentRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="comment" type="xsd:string" />
          <xsd:element form="unqualified" name="suggested_status" type="xsd:string" />
          <xsd:element form="unqualified" name="suggested_location" type="xsd:string" />
          <xsd:element form="unqualified" name="suggested_image" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="addCommentResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="followRecordRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="sub" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="followRecordResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="followListRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="followListResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="subs" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageCountsAndTokensRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="key" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageCountsAndTokensResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="imageCount" type="xsd:int" />
          <xsd:element form="unqualified" name="firstToken" type="xsd:int" />
          <xsd:element form="unqualified" name="lastToken" type="xsd:int" />
          <xsd:element form="unqualified" name="nullTokenCount" type="xsd:int" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageListRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="tokenStart" type="xsd:int" />
          <xsd:element form="unqualified" name="tokenEnd" type="xsd:int" />
          <xsd:element form="unqualified" name="key" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageListResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="imageList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageListBlockRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="tokenStart" type="xsd:int" />
          <xsd:element form="unqualified" name="stride" type="xsd:int" />
          <xsd:element form="unqualified" name="key" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getImageListBlockResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="imageList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getNullTokenListRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="tokenStart" type="xsd:int" />
          <xsd:element form="unqualified" name="tokenEnd" type="xsd:int" />
          <xsd:element form="unqualified" name="key" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getNullTokenListResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="nullTokenList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="registerGCMRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="registrationID" type="xsd:string" />
          <xsd:element form="unqualified" name="versionString" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="registerGCMResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="unregisterGCMRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="registrationID" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="unregisterGCMResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalListRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalListResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="hospitalList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalDataRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalDataResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="name" type="xsd:string" />
          <xsd:element form="unqualified" name="shortname" type="xsd:string" />
          <xsd:element form="unqualified" name="street1" type="xsd:string" />
          <xsd:element form="unqualified" name="street2" type="xsd:string" />
          <xsd:element form="unqualified" name="city" type="xsd:string" />
          <xsd:element form="unqualified" name="county" type="xsd:string" />
          <xsd:element form="unqualified" name="state" type="xsd:string" />
          <xsd:element form="unqualified" name="country" type="xsd:string" />
          <xsd:element form="unqualified" name="zip" type="xsd:string" />
          <xsd:element form="unqualified" name="phone" type="xsd:string" />
          <xsd:element form="unqualified" name="fax" type="xsd:string" />
          <xsd:element form="unqualified" name="email" type="xsd:string" />
          <xsd:element form="unqualified" name="www" type="xsd:string" />
          <xsd:element form="unqualified" name="npi" type="xsd:string" />
          <xsd:element form="unqualified" name="latitude" type="xsd:string" />
          <xsd:element form="unqualified" name="longitude" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalPolicyRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalPolicyResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="patientIdPrefix" type="xsd:string" />
          <xsd:element form="unqualified" name="patientIdSuffixVariable" type="xsd:boolean" />
          <xsd:element form="unqualified" name="patientIdSuffixFixedLength" type="xsd:int" />
          <xsd:element form="unqualified" name="triageZoneList" type="xsd:string" />
          <xsd:element form="unqualified" name="photoRequired" type="xsd:boolean" />
          <xsd:element form="unqualified" name="honorNoPhotoRequest" type="xsd:boolean" />
          <xsd:element form="unqualified" name="photographerNameRequired" type="xsd:boolean" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="legalese" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseAnonRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseAnonResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="legaleseAnon" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseTimestampsRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getHospitalLegaleseTimestampsResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="legaleseTimestamp" type="xsd:string" />
          <xsd:element form="unqualified" name="legaleseAnonTimestamp" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getUuidByPatientIdRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="patientId" type="xsd:string" />
          <xsd:element form="unqualified" name="shortname" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="getUuidByPatientIdResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="uuid" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reservePatientIdsRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reservePatientIdsResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="idList" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reserveSinglePatientIdRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="patientId" type="xsd:string" />
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="reserveSinglePatientIdResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="isPatientIdReservedRequestType">
        <xsd:all>
          <xsd:element form="unqualified" name="token" type="xsd:string" />
          <xsd:element form="unqualified" name="patientId" type="xsd:string" />
          <xsd:element form="unqualified" name="hospital_uuid" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="isPatientIdReservedResponseType">
        <xsd:all>
          <xsd:element form="unqualified" name="state" type="xsd:string" />
          <xsd:element form="unqualified" name="errorCode" type="xsd:int" />
          <xsd:element form="unqualified" name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="requestUserToken" type="tns:requestUserTokenRequestType" />
      <xsd:element name="requestUserTokenResponse" type="tns:requestUserTokenResponseType" />
      <xsd:element name="requestAnonToken" type="tns:requestAnonTokenRequestType" />
      <xsd:element name="requestAnonTokenResponse" type="tns:requestAnonTokenResponseType" />
      <xsd:element name="purgeUserTokens" type="tns:purgeUserTokensRequestType" />
      <xsd:element name="purgeUserTokensResponse" type="tns:purgeUserTokensResponseType" />
      <xsd:element name="pingEcho" type="tns:pingEchoRequestType" />
      <xsd:element name="pingEchoResponse" type="tns:pingEchoResponseType" />
      <xsd:element name="getEventList" type="tns:getEventListRequestType" />
      <xsd:element name="getEventListResponse" type="tns:getEventListResponseType" />
      <xsd:element name="getGroupList" type="tns:getGroupListRequestType" />
      <xsd:element name="getGroupListResponse" type="tns:getGroupListResponseType" />
      <xsd:element name="registerUserCaptcha" type="tns:registerUserCaptchaRequestType" />
      <xsd:element name="registerUserCaptchaResponse" type="tns:registerUserCaptchaResponseType" />
      <xsd:element name="registerUser" type="tns:registerUserRequestType" />
      <xsd:element name="registerUserResponse" type="tns:registerUserResponseType" />
      <xsd:element name="changeUserPassword" type="tns:changeUserPasswordRequestType" />
      <xsd:element name="changeUserPasswordResponse" type="tns:changeUserPasswordResponseType" />
      <xsd:element name="resetUserPassword" type="tns:resetUserPasswordRequestType" />
      <xsd:element name="resetUserPasswordResponse" type="tns:resetUserPasswordResponseType" />
      <xsd:element name="forgotUsername" type="tns:forgotUsernameRequestType" />
      <xsd:element name="forgotUsernameResponse" type="tns:forgotUsernameResponseType" />
      <xsd:element name="getSessionCookie" type="tns:getSessionCookieRequestType" />
      <xsd:element name="getSessionCookieResponse" type="tns:getSessionCookieResponseType" />
      <xsd:element name="search" type="tns:searchRequestType" />
      <xsd:element name="searchResponse" type="tns:searchResponseType" />
      <xsd:element name="report" type="tns:reportRequestType" />
      <xsd:element name="reportResponse" type="tns:reportResponseType" />
      <xsd:element name="updateRecord" type="tns:updateRecordRequestType" />
      <xsd:element name="updateRecordResponse" type="tns:updateRecordResponseType" />
      <xsd:element name="reportAbuse" type="tns:reportAbuseRequestType" />
      <xsd:element name="reportAbuseResponse" type="tns:reportAbuseResponseType" />
      <xsd:element name="addComment" type="tns:addCommentRequestType" />
      <xsd:element name="addCommentResponse" type="tns:addCommentResponseType" />
      <xsd:element name="followRecord" type="tns:followRecordRequestType" />
      <xsd:element name="followRecordResponse" type="tns:followRecordResponseType" />
      <xsd:element name="followList" type="tns:followListRequestType" />
      <xsd:element name="followListResponse" type="tns:followListResponseType" />
      <xsd:element name="getImageCountsAndTokens" type="tns:getImageCountsAndTokensRequestType" />
      <xsd:element name="getImageCountsAndTokensResponse" type="tns:getImageCountsAndTokensResponseType" />
      <xsd:element name="getImageList" type="tns:getImageListRequestType" />
      <xsd:element name="getImageListResponse" type="tns:getImageListResponseType" />
      <xsd:element name="getImageListBlock" type="tns:getImageListBlockRequestType" />
      <xsd:element name="getImageListBlockResponse" type="tns:getImageListBlockResponseType" />
      <xsd:element name="getNullTokenList" type="tns:getNullTokenListRequestType" />
      <xsd:element name="getNullTokenListResponse" type="tns:getNullTokenListResponseType" />
      <xsd:element name="registerGCM" type="tns:registerGCMRequestType" />
      <xsd:element name="registerGCMResponse" type="tns:registerGCMResponseType" />
      <xsd:element name="unregisterGCM" type="tns:unregisterGCMRequestType" />
      <xsd:element name="unregisterGCMResponse" type="tns:unregisterGCMResponseType" />
      <xsd:element name="getHospitalList" type="tns:getHospitalListRequestType" />
      <xsd:element name="getHospitalListResponse" type="tns:getHospitalListResponseType" />
      <xsd:element name="getHospitalData" type="tns:getHospitalDataRequestType" />
      <xsd:element name="getHospitalDataResponse" type="tns:getHospitalDataResponseType" />
      <xsd:element name="getHospitalPolicy" type="tns:getHospitalPolicyRequestType" />
      <xsd:element name="getHospitalPolicyResponse" type="tns:getHospitalPolicyResponseType" />
      <xsd:element name="getHospitalLegalese" type="tns:getHospitalLegaleseRequestType" />
      <xsd:element name="getHospitalLegaleseResponse" type="tns:getHospitalLegaleseResponseType" />
      <xsd:element name="getHospitalLegaleseAnon" type="tns:getHospitalLegaleseAnonRequestType" />
      <xsd:element name="getHospitalLegaleseAnonResponse" type="tns:getHospitalLegaleseAnonResponseType" />
      <xsd:element name="getHospitalLegaleseTimestamps" type="tns:getHospitalLegaleseTimestampsRequestType" />
      <xsd:element name="getHospitalLegaleseTimestampsResponse" type="tns:getHospitalLegaleseTimestampsResponseType" />
      <xsd:element name="getUuidByPatientId" type="tns:getUuidByPatientIdRequestType" />
      <xsd:element name="getUuidByPatientIdResponse" type="tns:getUuidByPatientIdResponseType" />
      <xsd:element name="reservePatientIds" type="tns:reservePatientIdsRequestType" />
      <xsd:element name="reservePatientIdsResponse" type="tns:reservePatientIdsResponseType" />
      <xsd:element name="reserveSinglePatientId" type="tns:reserveSinglePatientIdRequestType" />
      <xsd:element name="reserveSinglePatientIdResponse" type="tns:reserveSinglePatientIdResponseType" />
      <xsd:element name="isPatientIdReserved" type="tns:isPatientIdReservedRequestType" />
      <xsd:element name="isPatientIdReservedResponse" type="tns:isPatientIdReservedResponseType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestUserTokenRequest">
    <wsdl:part name="parameters" element="tns:requestUserToken" />
  </wsdl:message>
  <wsdl:message name="requestUserTokenResponse">
    <wsdl:part name="parameters" element="tns:requestUserTokenResponse" />
  </wsdl:message>
  <wsdl:message name="requestAnonTokenRequest">
    <wsdl:part name="parameters" element="tns:requestAnonToken" />
  </wsdl:message>
  <wsdl:message name="requestAnonTokenResponse">
    <wsdl:part name="parameters" element="tns:requestAnonTokenResponse" />
  </wsdl:message>
  <wsdl:message name="purgeUserTokensRequest">
    <wsdl:part name="parameters" element="tns:purgeUserTokens" />
  </wsdl:message>
  <wsdl:message name="purgeUserTokensResponse">
    <wsdl:part name="parameters" element="tns:purgeUserTokensResponse" />
  </wsdl:message>
  <wsdl:message name="pingEchoRequest">
    <wsdl:part name="parameters" element="tns:pingEcho" />
  </wsdl:message>
  <wsdl:message name="pingEchoResponse">
    <wsdl:part name="parameters" element="tns:pingEchoResponse" />
  </wsdl:message>
  <wsdl:message name="getEventListRequest">
    <wsdl:part name="parameters" element="tns:getEventList" />
  </wsdl:message>
  <wsdl:message name="getEventListResponse">
    <wsdl:part name="parameters" element="tns:getEventListResponse" />
  </wsdl:message>
  <wsdl:message name="getGroupListRequest">
    <wsdl:part name="parameters" element="tns:getGroupList" />
  </wsdl:message>
  <wsdl:message name="getGroupListResponse">
    <wsdl:part name="parameters" element="tns:getGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="registerUserCaptchaRequest">
    <wsdl:part name="parameters" element="tns:registerUserCaptcha" />
  </wsdl:message>
  <wsdl:message name="registerUserCaptchaResponse">
    <wsdl:part name="parameters" element="tns:registerUserCaptchaResponse" />
  </wsdl:message>
  <wsdl:message name="registerUserRequest">
    <wsdl:part name="parameters" element="tns:registerUser" />
  </wsdl:message>
  <wsdl:message name="registerUserResponse">
    <wsdl:part name="parameters" element="tns:registerUserResponse" />
  </wsdl:message>
  <wsdl:message name="changeUserPasswordRequest">
    <wsdl:part name="parameters" element="tns:changeUserPassword" />
  </wsdl:message>
  <wsdl:message name="changeUserPasswordResponse">
    <wsdl:part name="parameters" element="tns:changeUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="resetUserPasswordRequest">
    <wsdl:part name="parameters" element="tns:resetUserPassword" />
  </wsdl:message>
  <wsdl:message name="resetUserPasswordResponse">
    <wsdl:part name="parameters" element="tns:resetUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="forgotUsernameRequest">
    <wsdl:part name="parameters" element="tns:forgotUsername" />
  </wsdl:message>
  <wsdl:message name="forgotUsernameResponse">
    <wsdl:part name="parameters" element="tns:forgotUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="getSessionCookieRequest">
    <wsdl:part name="parameters" element="tns:getSessionCookie" />
  </wsdl:message>
  <wsdl:message name="getSessionCookieResponse">
    <wsdl:part name="parameters" element="tns:getSessionCookieResponse" />
  </wsdl:message>
  <wsdl:message name="searchRequest">
    <wsdl:part name="parameters" element="tns:search" />
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part name="parameters" element="tns:searchResponse" />
  </wsdl:message>
  <wsdl:message name="reportRequest">
    <wsdl:part name="parameters" element="tns:report" />
  </wsdl:message>
  <wsdl:message name="reportResponse">
    <wsdl:part name="parameters" element="tns:reportResponse" />
  </wsdl:message>
  <wsdl:message name="updateRecordRequest">
    <wsdl:part name="parameters" element="tns:updateRecord" />
  </wsdl:message>
  <wsdl:message name="updateRecordResponse">
    <wsdl:part name="parameters" element="tns:updateRecordResponse" />
  </wsdl:message>
  <wsdl:message name="reportAbuseRequest">
    <wsdl:part name="parameters" element="tns:reportAbuse" />
  </wsdl:message>
  <wsdl:message name="reportAbuseResponse">
    <wsdl:part name="parameters" element="tns:reportAbuseResponse" />
  </wsdl:message>
  <wsdl:message name="addCommentRequest">
    <wsdl:part name="parameters" element="tns:addComment" />
  </wsdl:message>
  <wsdl:message name="addCommentResponse">
    <wsdl:part name="parameters" element="tns:addCommentResponse" />
  </wsdl:message>
  <wsdl:message name="followRecordRequest">
    <wsdl:part name="parameters" element="tns:followRecord" />
  </wsdl:message>
  <wsdl:message name="followRecordResponse">
    <wsdl:part name="parameters" element="tns:followRecordResponse" />
  </wsdl:message>
  <wsdl:message name="followListRequest">
    <wsdl:part name="parameters" element="tns:followList" />
  </wsdl:message>
  <wsdl:message name="followListResponse">
    <wsdl:part name="parameters" element="tns:followListResponse" />
  </wsdl:message>
  <wsdl:message name="getImageCountsAndTokensRequest">
    <wsdl:part name="parameters" element="tns:getImageCountsAndTokens" />
  </wsdl:message>
  <wsdl:message name="getImageCountsAndTokensResponse">
    <wsdl:part name="parameters" element="tns:getImageCountsAndTokensResponse" />
  </wsdl:message>
  <wsdl:message name="getImageListRequest">
    <wsdl:part name="parameters" element="tns:getImageList" />
  </wsdl:message>
  <wsdl:message name="getImageListResponse">
    <wsdl:part name="parameters" element="tns:getImageListResponse" />
  </wsdl:message>
  <wsdl:message name="getImageListBlockRequest">
    <wsdl:part name="parameters" element="tns:getImageListBlock" />
  </wsdl:message>
  <wsdl:message name="getImageListBlockResponse">
    <wsdl:part name="parameters" element="tns:getImageListBlockResponse" />
  </wsdl:message>
  <wsdl:message name="getNullTokenListRequest">
    <wsdl:part name="parameters" element="tns:getNullTokenList" />
  </wsdl:message>
  <wsdl:message name="getNullTokenListResponse">
    <wsdl:part name="parameters" element="tns:getNullTokenListResponse" />
  </wsdl:message>
  <wsdl:message name="registerGCMRequest">
    <wsdl:part name="parameters" element="tns:registerGCM" />
  </wsdl:message>
  <wsdl:message name="registerGCMResponse">
    <wsdl:part name="parameters" element="tns:registerGCMResponse" />
  </wsdl:message>
  <wsdl:message name="unregisterGCMRequest">
    <wsdl:part name="parameters" element="tns:unregisterGCM" />
  </wsdl:message>
  <wsdl:message name="unregisterGCMResponse">
    <wsdl:part name="parameters" element="tns:unregisterGCMResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalListRequest">
    <wsdl:part name="parameters" element="tns:getHospitalList" />
  </wsdl:message>
  <wsdl:message name="getHospitalListResponse">
    <wsdl:part name="parameters" element="tns:getHospitalListResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalDataRequest">
    <wsdl:part name="parameters" element="tns:getHospitalData" />
  </wsdl:message>
  <wsdl:message name="getHospitalDataResponse">
    <wsdl:part name="parameters" element="tns:getHospitalDataResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalPolicyRequest">
    <wsdl:part name="parameters" element="tns:getHospitalPolicy" />
  </wsdl:message>
  <wsdl:message name="getHospitalPolicyResponse">
    <wsdl:part name="parameters" element="tns:getHospitalPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseRequest">
    <wsdl:part name="parameters" element="tns:getHospitalLegalese" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseResponse">
    <wsdl:part name="parameters" element="tns:getHospitalLegaleseResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseAnonRequest">
    <wsdl:part name="parameters" element="tns:getHospitalLegaleseAnon" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseAnonResponse">
    <wsdl:part name="parameters" element="tns:getHospitalLegaleseAnonResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseTimestampsRequest">
    <wsdl:part name="parameters" element="tns:getHospitalLegaleseTimestamps" />
  </wsdl:message>
  <wsdl:message name="getHospitalLegaleseTimestampsResponse">
    <wsdl:part name="parameters" element="tns:getHospitalLegaleseTimestampsResponse" />
  </wsdl:message>
  <wsdl:message name="getUuidByPatientIdRequest">
    <wsdl:part name="parameters" element="tns:getUuidByPatientId" />
  </wsdl:message>
  <wsdl:message name="getUuidByPatientIdResponse">
    <wsdl:part name="parameters" element="tns:getUuidByPatientIdResponse" />
  </wsdl:message>
  <wsdl:message name="reservePatientIdsRequest">
    <wsdl:part name="parameters" element="tns:reservePatientIds" />
  </wsdl:message>
  <wsdl:message name="reservePatientIdsResponse">
    <wsdl:part name="parameters" element="tns:reservePatientIdsResponse" />
  </wsdl:message>
  <wsdl:message name="reserveSinglePatientIdRequest">
    <wsdl:part name="parameters" element="tns:reserveSinglePatientId" />
  </wsdl:message>
  <wsdl:message name="reserveSinglePatientIdResponse">
    <wsdl:part name="parameters" element="tns:reserveSinglePatientIdResponse" />
  </wsdl:message>
  <wsdl:message name="isPatientIdReservedRequest">
    <wsdl:part name="parameters" element="tns:isPatientIdReserved" />
  </wsdl:message>
  <wsdl:message name="isPatientIdReservedResponse">
    <wsdl:part name="parameters" element="tns:isPatientIdReservedResponse" />
  </wsdl:message>
  <wsdl:portType name="plusWebServicesPortType">
    <wsdl:operation name="requestUserToken">
      <wsdl:input message="tns:requestUserTokenRequest" />
      <wsdl:output message="tns:requestUserTokenResponse" />
    </wsdl:operation>
    <wsdl:operation name="requestAnonToken">
      <wsdl:input message="tns:requestAnonTokenRequest" />
      <wsdl:output message="tns:requestAnonTokenResponse" />
    </wsdl:operation>
    <wsdl:operation name="purgeUserTokens">
      <wsdl:input message="tns:purgeUserTokensRequest" />
      <wsdl:output message="tns:purgeUserTokensResponse" />
    </wsdl:operation>
    <wsdl:operation name="pingEcho">
      <wsdl:input message="tns:pingEchoRequest" />
      <wsdl:output message="tns:pingEchoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEventList">
      <wsdl:input message="tns:getEventListRequest" />
      <wsdl:output message="tns:getEventListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGroupList">
      <wsdl:input message="tns:getGroupListRequest" />
      <wsdl:output message="tns:getGroupListResponse" />
    </wsdl:operation>
    <wsdl:operation name="registerUserCaptcha">
      <wsdl:input message="tns:registerUserCaptchaRequest" />
      <wsdl:output message="tns:registerUserCaptchaResponse" />
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <wsdl:input message="tns:registerUserRequest" />
      <wsdl:output message="tns:registerUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="changeUserPassword">
      <wsdl:input message="tns:changeUserPasswordRequest" />
      <wsdl:output message="tns:changeUserPasswordResponse" />
    </wsdl:operation>
    <wsdl:operation name="resetUserPassword">
      <wsdl:input message="tns:resetUserPasswordRequest" />
      <wsdl:output message="tns:resetUserPasswordResponse" />
    </wsdl:operation>
    <wsdl:operation name="forgotUsername">
      <wsdl:input message="tns:forgotUsernameRequest" />
      <wsdl:output message="tns:forgotUsernameResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSessionCookie">
      <wsdl:input message="tns:getSessionCookieRequest" />
      <wsdl:output message="tns:getSessionCookieResponse" />
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input message="tns:searchRequest" />
      <wsdl:output message="tns:searchResponse" />
    </wsdl:operation>
    <wsdl:operation name="report">
      <wsdl:input message="tns:reportRequest" />
      <wsdl:output message="tns:reportResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateRecord">
      <wsdl:input message="tns:updateRecordRequest" />
      <wsdl:output message="tns:updateRecordResponse" />
    </wsdl:operation>
    <wsdl:operation name="reportAbuse">
      <wsdl:input message="tns:reportAbuseRequest" />
      <wsdl:output message="tns:reportAbuseResponse" />
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <wsdl:input message="tns:addCommentRequest" />
      <wsdl:output message="tns:addCommentResponse" />
    </wsdl:operation>
    <wsdl:operation name="followRecord">
      <wsdl:input message="tns:followRecordRequest" />
      <wsdl:output message="tns:followRecordResponse" />
    </wsdl:operation>
    <wsdl:operation name="followList">
      <wsdl:input message="tns:followListRequest" />
      <wsdl:output message="tns:followListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getImageCountsAndTokens">
      <wsdl:input message="tns:getImageCountsAndTokensRequest" />
      <wsdl:output message="tns:getImageCountsAndTokensResponse" />
    </wsdl:operation>
    <wsdl:operation name="getImageList">
      <wsdl:input message="tns:getImageListRequest" />
      <wsdl:output message="tns:getImageListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getImageListBlock">
      <wsdl:input message="tns:getImageListBlockRequest" />
      <wsdl:output message="tns:getImageListBlockResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNullTokenList">
      <wsdl:input message="tns:getNullTokenListRequest" />
      <wsdl:output message="tns:getNullTokenListResponse" />
    </wsdl:operation>
    <wsdl:operation name="registerGCM">
      <wsdl:input message="tns:registerGCMRequest" />
      <wsdl:output message="tns:registerGCMResponse" />
    </wsdl:operation>
    <wsdl:operation name="unregisterGCM">
      <wsdl:input message="tns:unregisterGCMRequest" />
      <wsdl:output message="tns:unregisterGCMResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalList">
      <wsdl:input message="tns:getHospitalListRequest" />
      <wsdl:output message="tns:getHospitalListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalData">
      <wsdl:input message="tns:getHospitalDataRequest" />
      <wsdl:output message="tns:getHospitalDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalPolicy">
      <wsdl:input message="tns:getHospitalPolicyRequest" />
      <wsdl:output message="tns:getHospitalPolicyResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegalese">
      <wsdl:input message="tns:getHospitalLegaleseRequest" />
      <wsdl:output message="tns:getHospitalLegaleseResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegaleseAnon">
      <wsdl:input message="tns:getHospitalLegaleseAnonRequest" />
      <wsdl:output message="tns:getHospitalLegaleseAnonResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegaleseTimestamps">
      <wsdl:input message="tns:getHospitalLegaleseTimestampsRequest" />
      <wsdl:output message="tns:getHospitalLegaleseTimestampsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUuidByPatientId">
      <wsdl:input message="tns:getUuidByPatientIdRequest" />
      <wsdl:output message="tns:getUuidByPatientIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="reservePatientIds">
      <wsdl:input message="tns:reservePatientIdsRequest" />
      <wsdl:output message="tns:reservePatientIdsResponse" />
    </wsdl:operation>
    <wsdl:operation name="reserveSinglePatientId">
      <wsdl:input message="tns:reserveSinglePatientIdRequest" />
      <wsdl:output message="tns:reserveSinglePatientIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="isPatientIdReserved">
      <wsdl:input message="tns:isPatientIdReservedRequest" />
      <wsdl:output message="tns:isPatientIdReservedResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="plusWebServicesBinding" type="tns:plusWebServicesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="requestUserToken">
      <soap:operation soapAction="plus1#requestUserToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestAnonToken">
      <soap:operation soapAction="plus1#requestAnonToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="purgeUserTokens">
      <soap:operation soapAction="plus1#purgeUserTokens" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pingEcho">
      <soap:operation soapAction="plus1#pingEcho" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEventList">
      <soap:operation soapAction="plus1#getEventList" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupList">
      <soap:operation soapAction="plus1#getGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerUserCaptcha">
      <soap:operation soapAction="plus1#registerUserCaptcha" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="plus1#registerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeUserPassword">
      <soap:operation soapAction="plus1#changeUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetUserPassword">
      <soap:operation soapAction="plus1#resetUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="forgotUsername">
      <soap:operation soapAction="plus1#forgotUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessionCookie">
      <soap:operation soapAction="plus1#getSessionCookie" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="plus1#search" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="report">
      <soap:operation soapAction="plus1#report" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRecord">
      <soap:operation soapAction="plus1#updateRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportAbuse">
      <soap:operation soapAction="plus1#reportAbuse" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <soap:operation soapAction="plus1#addComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="followRecord">
      <soap:operation soapAction="plus1#followRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="followList">
      <soap:operation soapAction="plus1#followList" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImageCountsAndTokens">
      <soap:operation soapAction="plus1#getImageCountsAndTokens" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImageList">
      <soap:operation soapAction="plus1#getImageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImageListBlock">
      <soap:operation soapAction="plus1#getImageListBlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNullTokenList">
      <soap:operation soapAction="plus1#getNullTokenList" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerGCM">
      <soap:operation soapAction="plus1#registerGCM" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unregisterGCM">
      <soap:operation soapAction="plus1#unregisterGCM" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalList">
      <soap:operation soapAction="plus1#getHospitalList" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalData">
      <soap:operation soapAction="plus1#getHospitalData" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalPolicy">
      <soap:operation soapAction="plus1#getHospitalPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegalese">
      <soap:operation soapAction="plus1#getHospitalLegalese" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegaleseAnon">
      <soap:operation soapAction="plus1#getHospitalLegaleseAnon" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalLegaleseTimestamps">
      <soap:operation soapAction="plus1#getHospitalLegaleseTimestamps" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUuidByPatientId">
      <soap:operation soapAction="plus1#getUuidByPatientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reservePatientIds">
      <soap:operation soapAction="plus1#reservePatientIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserveSinglePatientId">
      <soap:operation soapAction="plus1#reserveSinglePatientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isPatientIdReserved">
      <soap:operation soapAction="plus1#isPatientIdReserved" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://triagetrak.nlm.nih.gov/plusWebServices" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="plusWebServices">
    <wsdl:port name="plusWebServicesPort" binding="tns:plusWebServicesBinding">
      <soap:address location="https://triagetrak.nlm.nih.gov/plus1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>